@mixin icon_dropdown($value){
	a.dropdown-toggle::after{
		content: "\f107";
		font-family: "FontAwesome";
		padding-left: #{$value}px;
		@content;
	}
}

@mixin btnDefaultHover($home, $color){
	.home_#{$home} .btn-default{
		&.active:hover{
			background-color: #111 !important;
			border-color: #111 !important;
		}
		&:hover, &:focus, &:active{
			background: #{$color} !important;
			border-color: #{$color} !important;
			color: #fff;
		}
	}
}

@mixin facetLabelActive($home, $color){
	.home_#{$home} .facet-label.active a{
		background: #{$color} !important;
		border-color: #{$color} !important;
	}
}

@mixin underlineTitle($home, $color){
	.home_#{$home} #search_filters .facet .facet-title,
	.home_#{$home} .title-block h3{
		border-bottom-color: #{$color};
	}
}

@mixin paginationCurrent($home, $color){
	.home_#{$home} .pagination .current a,
	.home_#{$home} .pagination a:hover {
		background-color: #{$color} !important;
		border-color: #{$color};
		font-weight: 600;
	}
}

@mixin buttonActive($home, $color){
	.home_#{$home} .view-mode .button a.active{
		color: #{$color};
	}
}

@mixin wishlistHover($home, $color){
	.home_#{$home} .products-list-in-row .addToWishlist:hover{
		background-color: #{$color};
		border-color: #{$color};
	}
}

@mixin scrollArrowHover($home, $color){
	.home_#{$home} .scroll-box-arrows i:hover{
		background-color: #{$color};
		border-color: #{$color};
	}
}

@mixin inForBlockActive($home, $color){
	.home_#{$home} #more_info_block .tabs li a.active{
		border-bottom: 3px solid #{$color} !important;
	}
}

@mixin thumbnailsSelected($home, $color){
	.home_#{$home} .product-images > li.thumb-container > .thumb.selected,
	.home_#{$home} .product-images > li.thumb-container > .thumb:hover {
	    border: 1px solid #{$color};
	}
}

@mixin colorItemSize($home, $color){
	.home_#{$home} .product-variants-item.size input:checked + span::after {
	    background: #{$color};
	}
}

@mixin blogWigetTitle($home, $color){
	.home_#{$home}{
		.widget-title, .title_block{
		    border-bottom-color: #{$color};
		}
	}
}

@mixin btnShoppingHover($home, $color){
	.home_#{$home} .cart-box .btn-shopping:hover,
	.home_#{$home} .card.cart-summary .checkout a:hover{
	    background: #{$color};
	    border-color: #{$color};
	}
}