$active-h1 : #1ec7a6;
$active-h2 : #ed2b2b;
$active-h3 : #3700ff;
$active-h4 : #02a8f3;
$active-h5 : #f56c57;
$active-h6 : #1ec7a6;
$active-h7 : #f28f00;
$active-h8 : #bf0b26;
$active-h9 : #4bba5b;
$active-h10 : #9cb130;
$active-h11 : #c09749;
$active-h12 : #ff0000;
$active-h13 : #000;
$active-h14 : #1ec7a6;
$active-h15 : #edb402;
$active-h16 : #9d3bc6;
$active-h17 : #fed700;
$active-h18 : #9d3bc6;
$active-h19 : #f15a2b;
$active-h20 : #f15a2b;