$active-h1 : #1ec7a6;
$active-h2 : #ed2b2b;
$active-h3 : #3700ff;
$active-h4 : #02a8f3;
$active-h5 : #f56c57;
$active-h6 : #1ec7a6;
$active-h7 : #f28f00;
$active-h8 : #bf0b26;
$active-h9 : #4bba5b;
$active-h10 : #9cb130;
$active-h11 : #c09749;
$active-h12 : #ff0000;