@import "mixin";
@import "varians";

.home_7 a:hover {
	color: $active-h7;
}

.container{
	max-width: 1170px;
	width: 100%;
}
.container-fluid{
	max-width: 100%;
	width: 100%;
}
.btn-cart:hover {
	background: $active-h7;
	border-color: $active-h7;
}
#jmstools .btn-action .btn:hover{
	background: $active-h7;
}
.owl-theme .owl-controls div:hover{
	background-color: $active-h7 !important;
}
.btn-default.active,
.btn-active{
	background: $active-h7;
}
.jms-tab ul .nav-item {
	&.active a{
		color: $active-h7;
	}
	a{
		&.active{
			color: $active-h7;
		}
	}
}
.product-preview {
	.quick-view {
		span {
			background: rgba(242,143,0,0.3);
		}
		&:hover span{
			background: rgba(242,143,0,1);
		}
	}
	.product_action button.cart-button:hover {
	    background: $active-h7;
	    border-color: $active-h7;
	}
	.addToWishlist.product-btn:hover{
		color: $active-h7;
	}
}
.page-index{
	#header .slides{
		display: block;
	}
	#wrapper{
		max-width: 1170px;
		margin: 0 auto;
	}
	.page-home{
		margin: 0 -15px;
	}
}
.jms-banner > a{
	display: block;
	position: relative;
	&:hover::before{
		opacity: 0;
		border: 0 double rgba(255, 255, 255, 0.7);
		visibility: hidden;
	}
	&::before{
		bottom: 0;
		content: "";
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		transition: all 0.4s cubic-bezier(0.94, 0.85, 0.1, 0.62) 0s;
		z-index: 1;
		border: 100px double transparent;
		opacity: 1;
		visibility: visible;
	}
	img{
		width: 100%;
	}
}


// topbar
.topbar{
	background: $active-h7;
	color: #fff;
	line-height: 43px;
	.container > .row{
		display: flex;
		align-items: center;
	}
	p{
		margin-bottom: 0;
		font-size: 13px;
	}
	.lnr-map-marker{
		font-size: 17px;
		position: relative;
		top: 2px;
		margin-right: 3px;
	}
	.dropdown-menu{
		background: #fff;
		> li{
			padding: 0 20px;
			> a{
				color: #333;
				padding: 3px 0;
				&:hover{
					color: $active-h7;
				}
			}
		}
	}
	.left{
		.addon-box{
			float: left;
			position: relative;
			&:not(:first-child){
				margin-left: 45px;
				&::before{
					content: "";
					height: 13px;
					width: 1px;
					background: #5f33ff;
					position: absolute;
					left: -27px;
					top: 50%;
					transform: translateY(-50%);
				}
			}
		}
		.text{
			font-size: 13px;
			i{
				font-size: 18px;
				position: relative;
				top: 3px;
				left: -4px;
			}
		}
	}
	.right{
		#social_block{
			ul{
				margin-bottom: 0;
				li{
					&:not(:first-child) a{
						margin-left: 15px;
					}
					a{
						font-size: 16px;
						color: rgba(255,255,255,0.66);
						&:hover{
							color: rgba(255,255,255,1);
						}
					}
				}
			}
		}
		a{
			color: #fff;
			font-size: 13px;
			position: relative;
		}
		.languages-info{
			.dropdown-menu{
				left: -20px;
			}
			&.type2{
				display: block;
				.flag{
					position: relative;
					bottom: 1px;
					margin-right: 5px;
				}
			}
			&.type1, &.type3, &.type4{
				display: none;
			}
			@include icon_dropdown(1);
		}
		#_desktop_currency_selector{
			.dropdown-menu{
				left: -20px;
			}
			&.type1{
				display: block;
			}
			&.type2, &.type3{
				display: none;
			}
			@include icon_dropdown(1);
		}
		#_desktop_user_info{
			.user-info > a{
				top: -2px;
				&::before{
					content: "\e915";
					font-family: Storm;
					font-size: 17px;
					left: -25px;
					top: -12px;
				}
			}
			.dropdown-menu{
				background: #fff;
				> li{
					padding: 0 20px;
					> a{
						color: #333;
						padding: 5px 0;
					}
				}
			}
			a{
				span{
					font-size: 13px;
					text-transform: capitalize;
				}
				&.account{
					&.btn-name::before{
						top: -3px;
					}
				}
			}
			.type3{
				display: block;
			}
			.type1, .type2{
				display: none;
			}
		}
		.addon-box{
			float: right;
			position: relative;
			height: 42px;
			&:not(:first-child){
				margin-right: 40px;
				&::after{
					content: "";
					height: 100%;
					width: 1px;
					background: rgba(255,255,255,0.3);
					position: absolute;
					right: -20px;
					top: 50%;
					transform: translateY(-50%);
				}
			}
			&:not(:last-child){
				padding-top: 0.5px;
			}
		}
	}
}

// header
.header{
	padding: 24px 0 20px;
	.container > .row{
		display: flex;
		align-items: center;
	}
	.center{
		.jms-advsearch{
			#ajax_advsearch{
				width: 100%;
			}
			#advsearch_result{
				width: 100%;
			}
			.input-group-addon.icon-drop-down::before{
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				background: #f2f2f2;
				z-index: -2;
			}
			.input-group.keyword-group{
				border-color: $active-h7;
			}
			.storm-zoom {
			    background: $active-h7;
			}
			.input-group-addon.input-group-search {
				background: $active-h7;
			}
		}
	}
	.right{
		.wishlist_top{
			display: block;
			width: 26px;
			height: 24px;
			padding: 0;
			z-index: 99;
			i{
				color: #333;
				font-size: 27px;
				&:hover{
					color: $active-h7;
				}
			}
		}
		.cart-icon{
			display: block;
			width: 28px;
			height: 30px;
			padding: 0;
			z-index: 99;
			position: relative;
			i{
				color: #333;
				font-size: 27px;
				&:hover{
					color: $active-h7;
				}
			}
		}
		.addon-box{
			float: right;
			height: 45px;
			display: flex;
			align-items: center;
			&:not(:first-child){
				margin-right: 29px;
			}
		}
		#cart_block{
			display: flex;
			align-items: center;
			#button_order_cart:hover {
			    background: $active-h7;
			}
			.ajax_cart_quantity {
	    		background: $active-h7 none repeat scroll 0 0;
	    		top: -3px;
	    		right: -12px;
	    	}
			.text-custom{
				color: #333;
				padding-left: 12px;
				padding-top: 20px;
				p{
					display: none;
				}
				span{
					font-size: 18px;
					font-weight: 500;
					position: relative;
					top: -7px;
				}
			}
		}
		.languages-info{
			a{
				color: #000;
				text-transform: uppercase;
				font-weight: 500;
				line-height: 1.7;
				&:hover{
					color: $active-h7;
				}
				&.dropdown-item{
					font-size: 13px;
					color: #333;
					font-weight: 400;
					&:hover{
						color: $active-h7;
					}
				}
			}
			.dropdown-menu{
				left: -10px;
				background: #fff;
				top: calc(100% + 5px);
				padding: 10px 0;
				display: block;
			}
			&.type4{
				display: block;
				.flag{
					position: relative;
					bottom: 1px;
					margin-right: 5px;
				}
			}
			&.type1, &.type3, &.type2{
				display: none;
			}
			@include icon_dropdown(1);
		}
	}
}

// menu
.menu{
	&.fixed{
		background: #fff;
		z-index: 9999 !important;
	}
	.ver_menu_mobile{
		display: none;
	}
	.container > .row{
		display: flex;
		align-items: center;
	}
	.right{
		.addon-box{
			display: flex;
			align-items: center;
			p{
				margin-bottom: 0;
				img{
					position: relative;
					top: 1px;
					left: 6px;
				}
			}
		}
		.text{
			padding-left: 17px;
			p{
				font-weight: 500;
				margin-bottom: 0;
				&:first-child{
					margin-bottom: -5px;
				}
				a{
					font-weight: 400;
					&:hover{
						color: $active-h7;
					}
				}
			}
		}
	}
	#jms-vermegamenu-container{
		max-height: 503px;
		box-shadow: 0 0 5px rgba(0,0,0,0.2);
	}
	.jms-vermegamenu{
		padding: 12px 0;
		box-shadow: unset;
		background: #fff;
		li > a:hover{
			color: $active-h7;
		}
		.nav > li{
			> a{
				padding: 4.55px 0;
				&:hover{
					color: $active-h7;
				}
				&.open{
					color: $active-h7;
				}
			}
		}
	}
	.jms-megamenu .nav{
		text-align: left;
		> li{
			padding: 0 16px;
			&.home{
				padding-left: 0;
			}
			> a{
				line-height: 54px;
				font-size: 15px;
				color: #222;
			}
			&.open > a{
				color: $active-h7;
			}
		}
	}
	.left{
		.addon-box{
			position: relative;
			&.closed + .addon-box{
				opacity: 0;
				visibility: hidden;
			}
			&:nth-child(2){
				opacity: 1;
				visibility: visible;
				transition: all .4s;
				z-index: 1000;
			}
		}
		#jms-vermegamenu-container{
			position: absolute;
			background: #fff;
			width: 100%;
			border-radius: 0 0 4px 4px;
			&.in{
				z-index: 9999;
			}
		}
	}
	.ver_menu{
		font-size: 14px;
		font-weight: 600;
		background: $active-h7;
		text-transform: uppercase;
		color: #fff;
		padding: 16px 25px;
		margin-bottom: 0;
		cursor: pointer;
		border-radius: 5px 5px 0 0;
		&::before{
			content: "\f0ca";
			font-family: FontAwesome;
			margin-right: 15px;
		}
	}
}

// slider
.slides{
	display: none;
	.btn-shopnow {
	    padding: 10px 33px;
	}
	.slide_1{
		.text-1{
			font-family: 'Dancing Script', cursive;
			font-weight: 700;
		}
		.text-2, .text-3{
			font-weight: 600;
			text-transform: uppercase;
			span{
				text-transform: lowercase;
				font-family: 'Dancing Script', cursive;
				font-size: 2vw;
				font-weight: 400;
				color: #666;
			}
		}
		.text-2{
			max-width: 435px;
			line-height: 0.9;
		}
	}
	.slide_2{
		.text-1{
			font-family: 'Dancing Script', cursive;
			font-weight: 700;
		}
		.text-2{
			font-weight: 600;
			line-height: 0.9;
			max-width: 470px;
			text-transform: uppercase;
			span{
				color: $active-h7;
			}
		}
		.text-4{
			font-weight: 600;
			text-transform: uppercase;
		}
	}
	.slide_3{
		.text-1{
			font-family: 'Dancing Script', cursive;
			font-weight: 700;
		}
		.text-2{
			font-weight: 600;
			line-height: 0.9;
			max-width: 470px;
			text-transform: uppercase;
			span{
				color: #fff;
				font-style: italic;
			}
		}
		.btn-shopnow{
			background: #fff;
			color: #333;
		}
	}
}

.left_column{
	padding: 0 15px;
	margin-top: 40px;
	width: 25%;
	float: left;
	.container > .row{
		margin: 0;
	}
	// service
	.service{
		margin: 0;
		border: 2px solid #e6e6e6;
		border-radius: 5px;
		.addon-box{
			padding: 30px 0;
			&:not(:last-child){
				border-bottom: 1px solid #e6e6e6;
			}
		}
		.feature-img {
			margin-right: 15px;
			background: $active-h7;
			min-width: 44px;
			min-height: 53px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 3px;
			position: relative;
			&::after{
				content: "";
				position: absolute;
				right: -6px;
				width: 0;
				height: 0;
				border-top: 6.5px solid transparent;
				border-left: 6px solid $active-h7;
				border-bottom: 6.5px solid transparent;
			}
			i{
				color: #fff;
				font-size: 29px;
			}
		}
		p{
			margin-bottom: 0;
		}
		.feature-box{
			display: flex;
			align-items: center;
		}
		.text-1{
			font-size: 16px;
			font-weight: 500;
			color: #222;
			text-transform: uppercase;
			margin-bottom: -2px;
		}
		.text-2{
			font-size: 13px;
			color: #666;
		}
	}
	.banner{
		padding: 0;
	}
	.popular_product{
		padding: 0;
		.addon-title{
			border-bottom: 1px solid #e6e6e6;
			h3{
				font-size: 18px;
			}
		}
		.product-carousel2{
			padding-top: 0;
		}
		.preview.flexbox{
			.product-image{
				&::before, &::after{
					display: none;
				}
			}
			img{
				border: 0;
			}
		}
		.product-box{
			margin: 0;
			padding: 10px 0;
			&:not(:last-child){
				border-bottom: 1px solid #e6e6e6;
			}
			.product-name{
				display: block;
				line-height: 1.4;
			}
		}
	}
	.newsletter{
		border: 2px solid #e6e6e6;
		border-radius: 5px;
		padding: 20px;
		margin-top: 29px;
		background-repeat: no-repeat;
		background-position: 50% 10% !important;
		#newsletter_block_left{
			.textnews_h5, .textnews_h1, .buttonh1, .inputNew {
				display: none;
			}
			.textnews_h7, .btn-popup, .input_popup{
				display: block;
			}
		}
		.addon-title{
			h3{
				font-size: 24px;
				text-align: center;
				line-height: 1.25;
				padding-bottom: 9px;
				margin-top: 24px;
			}
			span{
				display: block;
				text-align: center;
				color: #555;
				padding: 0 20px;
				line-height: 1.45;
			}
		}
		#newsletter-input{
			text-align: center;
			border-radius: 3px;
			height: 47px;
		}
		.newsletter-btn{
			width: 100%;
			height: 47px;
			border-radius: 3px;
			margin-top: 10px;
			text-transform: uppercase;
			font-weight: 600;
		}
		.news_content {
			margin-top: 66px;
		}
	}
	.testimonial{
		padding: 0;
		margin-top: 40px;
		.owl-dots{
			bottom: -40px;;
		}
		.testimonial-info{
			background: $active-h7;
			border-radius: 3px;
			position: relative;
			padding: 10px 19px 21px;
			&::after{
				content: "";
				width: 0;
				height: 0;
				border-left: 30px solid $active-h7;
				border-bottom: 17px solid transparent;
				position: absolute;
				bottom: -17px;
				left: 40px;
			}
			.testimonial-comment{
				color: #fff;
				font-style: italic;
				text-align: left;
				line-height: 1.45;
			}
		}
		.testimonial-img {
			padding: 0 10px;
			margin-top: 25px;
			display: flex;
			align-items: center;
			img{
				height: 80px;
				margin-right: 10px;
			}
		}
		.info_people{
			text-align: left;
		}
		.testimonial-author{
			font-size: 15px;
			color: #333;
		}
		.show_office{
			font-size: 14px;
			color: #666;
		}
	}
}

// main column
.main_column{
	padding: 0 15px;
	margin-top: 40px;
	width: 75%;
	float: right;
	.banner_1{
		.addon-box{
			width: calc(50% - 15px);
			&:first-child{
				float: left;
			}
			&:last-child{
				float: right;
			}
		}
	}
	.hotdeal{
		margin-top: 49px;
		.owl-theme .owl-controls {
			top: -78px;
			right: 0;
		}
		.addon-title{
			border-bottom: 1px solid #e6e6e6;
			margin-bottom: 30px;
			padding-bottom: 3px;
		}
		.product-sold{
			display: none;
		}
		.product_box{
			margin: 0;
			border: 2px solid $active-h7;
			position: relative;
			border-radius: 5px;
			&::before{
				content: url("../img/label_hotdeal.png");
				position: absolute;
				top: -5px;
				left: -5px;
				z-index: 9;
			}
			.item{
				padding: 0;
			}
		}
		.hotdeal-carousel{
			padding-top: 0;
		}
		.countdown.is-countdown{
			margin-top: 4px;
		}
		.img-hotdeal{
			padding: 0;
		}
		.content_price{
			margin-bottom: 4px;
		}
		.product-box{
			background: #fff;
			padding: 0;
			border: 0;
			margin: 0;
			&::before{
				display: none;
			}
		}
	}
	.product_tab{
		margin-top: 39px;
		.owl-stage-outer{
			padding-bottom: 150px;
		}
		.nav{
			li{
				&.active a{
					color: $active-h7;
				}
				a{
					color: #222;
					&.active{
						color: $active-h7;
					}
				}
			}
		}
	}
	.banner_2{
		margin-top: -138px;
	}
	.cate_tab{
		margin-top: 36px;
		.addon-title{
			display: flow-root;
			border-bottom: 1px solid #e6e6e6;
			h3{
				float: left;
			}
			.jms-tab{
				float: right;
				position: relative;
				top: 1px;
				ul{
					li{
						&.active a{
							color: $active-h7;
						}
						a{
							font-size: 14px;
							color: #666;
							font-weight: 400;
							&.active{
								color: $active-h7;
							}
						}
					}
				}
			}
		}
		.categorytab-carousel{
			padding-top: 22px;
		}
		.owl-stage .owl-item.active + .owl-item.active .product-box::after{
			display: none;
		}
		.product-info{
			padding-top: 23px;
		}
		.product-box{
			align-items: unset;
			margin-bottom: 55px;
			position: relative;
			&::after{
				content: "";
				background: #e6e6e6;
				width: 1px;
				height: 100%;
				right: -15px;
				top: 0;
				position: absolute;
			}
			.flexbox{
				margin-right: 27px;
				width: 100%;
				a{
					&::before, &::after{
						display: none;
					}
				}
			}
		}
	}
	.healthy_eat{
		position: relative;
		z-index: 1;
		margin-top: -19px;
		.addon-box{
			display: flow-root;
			background: url("../img/healthy_eat_bg.jpg") no-repeat top left;
		}
		.product_box{
			width: 70%;
			float: right;
		}
		.product_box{
			margin: 0;
		}
		.addon-title{
			width: calc(70% - 15px);
			float: right;
			border-bottom: 1px solid #e6e6e6;
			margin-top: 37px;
			padding-bottom: 3px;
		}
		.product-miniature{
			background: transparent;
			&:hover{
				background: #fff;
			}
		}
		.text-addcart, .text-outofstock{
			font-size: 10px;
		}
		.quick-view span{
			font-size: 10px;
			i{
				font-size: 16px;
			}
		}
		.product_action{
			.cart-button{
				padding: 5px 0;
				width: calc(100% - 25px);
			}
		}
		.product-link{
			padding: 0 10px;
			white-space: nowrap;
			text-overflow: ellipsis;
			min-height: auto;
		}
		.owl-controls > div{
			background-color: #dbdbdb;
			&:hover{
				background-color: $active-h7;
			}
		}
		.owl-stage-outer{
			padding-bottom: 120px;
		}
	}
	.most_view{
		position: relative;
		z-index: 2;
		margin-top: -73px;
		.owl-stage-outer{
			padding-bottom: 150px;
		}
		.addon-title{
			border-bottom: 1px solid #e6e6e6;
			padding-bottom: 3px;
		}
	}
}

.brand{
	margin-top: -136px;
	display: inline-block;
	width: 100%;
	.brand-carousel::after {
		content: "";
		width: 1000%;
		height: 100%;
		background: #f3f3f3;
		position: absolute;
		top: 0;
		z-index: -1;
		left: 50%;
		transform: translateX(-50%);
	}
	.addon-box{
		position: relative;
		z-index: 3;
		background: #f3f3f3;
	}
}

.product_carousel{
	margin-top: 36px;
	.addon-title{
		border-bottom: 1px solid #e6e6e6;
	}
	.product-name{
		color: #0163d2;
		&:hover{
			color: $active-h7;
		}
	}
	.product-box{
		margin-bottom: 21px;
	}
	.preview.flexbox{
		.product-image{
			&::before, &::after{
				display: none;
			}
		}
		img{
			border: 0;
		}
	}
}

#footer .addon-title h3 {
	padding-bottom: 30px;
	padding-top: 28px;
}

// footer
.footer_t{
	background: #f9f9f9;
	padding: 27px 0 43px;
	.account li, .reason li, .info li{
		padding-bottom: 14px;
	}
	p{
		margin-bottom: 0;
	}
	.contact{
		.addon-desc{
			color: #555;
			line-height: 1.43;
			margin-top: 19px;
			margin-bottom: 23px;
		}
		h5{
			font-size: 16px;
			font-weight: 500;
			color: #222;
			padding-bottom: 21px;
		}
		.contact_info {
			display: flex;
			align-items: center;
			p{
				line-height: 1.45;	
			}
			i{
				font-size: 23px;
				margin-right: 13px;
			}
		}
		.phone{
			display: flex;
			align-items: center;
			margin-top: 42px;
			h4{
				font-size: 18px;
				color: #555;
				font-weight: 600;
				padding-bottom: 1px;
			}
			i{
				font-size: 40px;
				margin-right: 13px;
				color: $active-h7;
			}
		}
	}
	.phone_number{
		margin-top: 33px;
		img{
			border-radius: 3px;
		}
		.text{
			font-weight: 300;
			color: #666;
			line-height: 1.43;
			margin-top: 14px;
			span, p{
				font-weight: 400;
				color: #444;
			}
			.tell{
				margin-top: 10px;
				margin-bottom: 29px;
			}
			img{
				width: 38px;
				border-radius: 0;
				float: left;
				margin-right: 15px;
			}
		}
	}
}
.footer_b{
	padding: 15px 0;
	background: #333;
	ul{
		margin-bottom: 0;
		text-align: right;
		li{
			a{
				color: #fff;
				margin-left: 20px;
			}
		}
	}
	p{
		margin-bottom: 0;
		color: #fff;
	}
	.left b{
		font-size: 16px;
	}
}

@media (max-width: 1199px){
	.page-index #wrapper {
		max-width: 970px;
		margin: 0 auto;
		width: 100%;
	}
	.left_column{
		.container{
			width: auto;
		}
	}
	.main_column{
		.banner_1{
			display: flow-root;
		}
		.hotdeal{
			.countdown-row .countdown-section:not(:last-child)::after{
				right: -5px;
			}
			.countdown-section{
				margin: 0 3.5px;
			}
		}
		.container{
			width: auto;
		}
	}
	.container{
		width: 970px;
	}
	.header .right .addon-box:not(:first-child) {
		margin-right: 10px;
	}
}
@media (max-width: 991px){
	.ver_menu_mobile{
		.addon-box:last-child {
			opacity: 0;
			visibility: hidden;
			position: absolute;
			z-index: 1000;
			width: calc(100% - 30px);
			background: #fff;
			-webkit-transition: .4s all;
			-o-transition: .4s all;
			transition: .4s all;
		}
		.addon-box.closed + .addon-box {
			opacity: 1;
			visibility: visible;
		}
	}
	.header{
		.container > .row{
			display: block;
		}
		.left{
			padding-bottom: 10px;
			.addon-box{
				display: flex;
				justify-content: center;
			}
		}
	}
	.menu{
		.ver_menu_mobile {
			display: block;
		}
		.container{
			position: relative;
			> .row{
				display: block;
			}
		}
		.right{
			position: absolute;
			right: 0;
			z-index: 2;
			top: 5px;
			width: 75px;
			#open-button{
				display: inline-flex;
				float: right;
			}
		}
		.left{
			display: none;
		}
		.ver_mobile{
			display: block;
		}
	}
	.page-index #wrapper {
		max-width: auto;
		margin: 0 auto;
		width: 100%;
	}
	.container{
		width: 750px;
	}
	.left_column{
		float: none;
		width: 100%;
		padding: 0;
		.jms-banner{
			display: flex;
			justify-content: center;
			img{
				width: auto;
			}
		}
		.container{
			width: 750px;
		}
	}
	.main_column{
		float: none;
		width: 100%;
		padding: 0;
		.container{
			width: 750px;
		}
	}
	.footer_b{
		.addon-box p{
			text-align: center;
		}
		ul{
			text-align: center;
		}
	}
}
@media (max-width: 767px){
	.header{
		.right{
			padding-top: 10px;
		}
	}
	.brand{
		display: block;
		width: auto;
	}
	.left_column, .main_column{
		padding: 0 15px;
	}
	.main_column .banner_1 .addon-box{
		float: none;
		width: 100%;
		&:first-child{
			margin-bottom: 15px;
		}
	}
	.container{
		width: auto;
	}
	.topbar{
		display: none;
	}
	.header .right{
		display: flex;
		justify-content: center;
		#cart_block{
			position: unset;
			.shoppingcart-box{
				right: 15px;
				top: calc(100% + 20px);
			}
		}
		.addon-box{
			float: none;
			&:not(:first-child){
				order: 1;
			}
			&:first-child{
				order: 2;
			}
			margin: 0 10px;
		}
	}
	.menu .right{
		right: 15px;
	}
	.left_column .container, .main_column .container{
		width: auto;
	}
	.product_carousel{
		.container{
			margin: 0 15px;
		}
	}
}
@media (max-width: 481px){
	.left_column .testimonial .owl-dots {
		display: none;
	}
	div#cart_block .shoppingcart-box{
		margin-top: 0 !important;
	}
	.main_column .healthy_eat{
		padding: 0;
		.addon-title{
			padding: 0 15px;
		}
		.addon-title, .product_box{
			float: none;
			width: 100%;
			margin: 0 auto !important;
		}
		.product_box{
			margin: 0 -15px;
		}
		.addon-box{
			background: none;
		}
	}
	.service{
		.addon-box{
			padding: 10px 0 !important;
		}
		.include_content_s{
			padding-top: 10px;
		}
		.feature-img{
			margin-right: 0 !important;
		}
	}
}