@import "mixin";
@import "varians";

.home_6 a:hover {
	color: $active-h6;
}

#content-wrapper {
	margin-bottom: 0;
}
.main-site{
	margin-left: 330px;
}
.container{
	max-width: 1560px;
	width: 100%;
	padding: 0 15px;
}
.container-fluid{
	max-width: 100%;
	width: 100%;
}
.btn-cart:hover {
	background: $active-h6;
	border-color: $active-h6;
}
#jmstools .btn-action .btn:hover{
	background: $active-h6;
}
.owl-theme .owl-controls div:hover{
	background-color: $active-h6 !important;
}
.btn-default.active,
.btn-active{
	background: $active-h6;
}
.jms-tab ul .nav-item {
	&.active a{
		color: $active-h6;
	}
	a{
		&.active{
			color: $active-h6;
		}
	}
}
.product-preview {
	.quick-view {
		span {
			background: rgba(30,199,166,0.3);
		}
		&:hover span{
			background: rgba(30,199,166,1);
		}
	}
	.product_action button.cart-button:hover {
	    background: $active-h6;
	    border-color: $active-h6;
	}
	.addToWishlist.product-btn:hover{
		color: $active-h6;
	}
}
.jms-banner > a{
	img{
		width: 100%;
	}
}


// header
#header {
	background: #fff none repeat scroll 0 0;
	height: 100%;
	left: 0;
	border-right: 2px solid #ececec;
	position: fixed !important;
	width: 330px;
	z-index: 2001;
	top: 0;
	box-shadow: 0 0 35px rgba(0,0,0,0.05);
	.jms-megamenu{
		.nav > li{
			padding: 0;
			> .dropdown-menu{
				top: 10px;
				left: calc(100% + 30px) !important;
				transform: translateX(0);
			}
			&.open > .dropdown-menu{
				top: 0;
				left: calc(100% + 30px) !important;
				transform: translateX(0);
			}
			&:not(:last-child) {
			    display: block;
			    border-bottom: 1px solid #f3f3f3;
			}
			> a{
				line-height: 59px;
			}
		}
	}
}

// leftbar
.leftbar{
	.container{
		padding: 0 30px;
		max-width: 100%;
	}
	.jms-megamenu .nav > li > a > .caret {
		display: block;
		border: 0;
		top: 0;
		position: absolute;
		right: 14px;
		transform: skewX(13deg);
		&::after{
			content: '\f105';
			font-family: FontAwesome;
		}
	}
	.dropdown-menu{
		background: #fff;
		padding: 10px 0;
	}
	#cart_block{
		.text-custom{
			display: none;
		}
		.shoppingcart-box{
			top: 0;
			left: -330px;
			position: fixed;
			width: 330px;
			min-width: auto;
			transform: translateY(0);
			height: 100%;
		}
		&.open .shoppingcart-box{
			left: 0;
		}
	}
	#_desktop_user_info{
		.dropdown-menu{
			top: calc(100% + 15px);
			left: -15px;
			display: block;
			li{
				padding: 5px 0;
			}
		}
		.type2, .type3{
			display: none;
		}
		.type1{
			display: block;
		}
	}
	#_desktop_currency_selector{
		text-align: left;
		&.type1{
			display: block;
		}
		&.type2, &.type3{
			display: none;
		}
	}
	#social_block{
		ul{
			text-align: center;
			li{
				a{
					font-size: 13px;
					color: #666;
					width: 35px;
					margin: 0 1.3px;
					height: 35px;
					background: #dfdfdf;
					border-radius: 50%;
					display: inline-flex;
					justify-content: center;
					align-items: center;
					&:hover{
						color: #fff;
						background: $active-h6;
					}
				}
			}
		}
	}
	.button-search{
		color: #333;
		display: flex;
		align-items: center;
		padding-bottom: 3px;
		&:hover{
			color: $active-h6;
		}
	}
	.storm-user{
		font-size: 23px;
	}
	.storm-heart{
		font-size: 27px;
	}
	.storm-shopping-bag{
		font-size: 27px;
	}
	.wishlist_top {
		padding: 0;
		display: inline-table !important;
	}
	.first{
		margin-bottom: 56px;
		margin-top: 66px;
		.addon-box{
			display: flex;
			justify-content: center;
		}
	}
	.second{
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 40px;
		.search-box {
			height: 100%;
			width: 100%;
			position: fixed;
			z-index: -1;
			left: 0;
			top: 0;
			display: flex;
			opacity: 0;
			visibility: hidden;
			transform: scale(1.5);
			background-color: rgba(0,0,0,0.9);
			overflow-x: hidden;
			transition: 0.3s;
			justify-content: center;
			#search_result {
				left: calc(50% - 2px);
				position: absolute;
				top: calc(30% + 59px);
				width: 399px;
				z-index: 1000;
				transform: translateX(-50%);
			}
			.close-search{
				font-size: 30px;
				color: #fff;
				position: absolute;
				top: 40px;
				right: 40px;
				cursor: pointer;
			}
			&.open{
				opacity: 1;
				visibility: visible;
				transform: scale(1);
				z-index: 999;
			}
			.searchbox{
				display: flex;
				position: absolute;
				top: 30%;
				.button-search{
					height: 60px;
					color: #fff;
					background: $active-h6;
					padding: 0 20px;
					border-radius: 0 3px 3px 0;
					position: relative;
					left: -2px;
					z-index: 9;
				}
			}
			#ajax_search{
				height: 60px;
				border-radius: 3px;
				color: #fff;
				&::-webkit-input-placeholder{
					color: #fff;
					text-transform: uppercase;
					letter-spacing: 0;
				}
				&::-moz-placeholder{
					color: #fff;
					text-transform: uppercase;
					letter-spacing: 0;
				}
			}
		}
		.addon-box{
			margin: 0 10px;
			width: 30px;
			height: 30px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	.third{
		margin-bottom: 51px;
	}
	.fourth{
		margin-bottom: 41px;
		.dropdown-menu{
			position: unset;
			width: 100%;
			box-shadow: unset;
			li{
				padding: 5px 0;
			}
		}
		.addon-box{
			padding-bottom: 22px;
		}
		p{
			margin-bottom: 0;
		}
		#_desktop_currency_selector{
			> a{
				&::after{
					content: "\f107";
					font-family: FontAwesome;
				}
				span{
					font-size: 13px;
				}
			}
		}
		a{
			font-size: 13px;
			color: #333;
			text-transform: uppercase;
			&:hover{
				color: $active-h6;
			}
			span{
				font-size: 17px;
				margin-right: 5px;
			}
		}
	}
	.sixth{
		margin-top: 15px;
		text-align: center;
	}
}

// slider
.slides{
	.btn-shopnow {
		padding: 13px 33px;
	}
	.slide_1, .slide_2, .slide_3{
		.text-1{
			font-weight: 600;
		}
		.text-2{
			font-weight: 600;
			text-transform: uppercase;
		}
		.text-3{
			font-weight: 700;
			text-transform: uppercase;
		}
		.text-4{
			font-weight: 500;
			text-transform: uppercase;
		}
	}
	.slide_3{
		.text-2{
			max-width: 380px;
			letter-spacing: 1.2px;
			line-height: 0.85;
		}
		.text-3{
			max-width: 380px;
			font-weight: 500;
		}
	}
}

// banner
.banner{
	.jms-banner a{
		display: block;
		position: relative;
		background: #000;
		&:hover img{
			opacity: 0.6;
		}
		&:hover::before, &:hover::after{
			opacity: 1;
			transform: scale(1);
		}
		&::before, &::after{
			content: "";
			bottom: 20px;
			left: 20px;
			opacity: 0;
			position: absolute;
			right: 20px;
			top: 20px;
			transition: all .4s;
			z-index: 1;
		}
		&::before{
			border-bottom: 1px solid #ffffff;
			border-top: 1px solid #ffffff;
			transform: scale(0, 1);
		}
		&::after{
			border-left: 1px solid #ffffff;
			border-right: 1px solid #ffffff;
			transform: scale(1, 0);
		}
	}
	margin-top: 50px;
}

// categories
.cates{
	margin-top: 50px;
	.categories-wrapper{
		position: relative;
	}
	.categoy-image img{
		min-height: 500px;
	}
	.c_item-info{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 20px;
		max-width: 365px;
		.cat-name{
			font-size: 30px;
			font-weight: 600;
			color: #222;
			text-transform: uppercase;
			display: block;
			padding-bottom: 20px;
		}
		ul{
			margin-bottom: 16px;
			li a{
				font-size: 15px;
				color: #333;
				display: block;
				padding: 0.5px 0;
				&:hover{
					color: $active-h6;
				}
			}
		}
		.view_all{
			font-size: 16px;
			font-weight: 600;
			color: $active-h6;
			position: relative;
			text-transform: uppercase;
			&::after{
				content: "";
				width: 0;
				height: 1px;
				background: $active-h6;
				position: absolute;
				bottom: 0;
				left: 0;
				transition: all .4s;
			}
			&:hover::after{
				width: 100%;
			}
		}
	}
}

// product tab
.product_tab{
	margin-top: 80px;
	.owl-stage-outer{
		padding-bottom: 150px;
	}
}

// newsletter
.newsletter{
	margin-top: -117px;
	margin-bottom: 76px;
	padding: 134px 0 193px;
	.container{
		max-width: 1170px;
	}
	#newsletter_block_left{
		.textnews_h1, .buttonh1{
			display: none;
		}
		.textnews_h5, .btn-popup{
			display: block;
		}
		.addon-title{
			h3{
				font-size: 30px;
				color: #333;
				padding-bottom: 23px;
			}
			span{
				font-size: 16px;
				color: #666;
				display: block;
				padding-right: 50px;
				line-height: 1.25;
			}
		}
	}
	.news_content {
		margin-top: 49px;
	}
	.form-group{
		display: flex;
		margin-bottom: 0;
		position: relative;
		&::before {
		    content: "\f003";
		    font-family: FontAwesome;
		    position: absolute;
		    top: 50%;
		    transform: translateY(-50%);
		    left: 20px;
		    color: #888;
		    font-size: 16px;
		}
	}
	.newsletter-btn{
		text-transform: uppercase;
		font-weight: 600;
		padding: 0 21px;
		border-radius: 0 4px 4px 0;
	}
	#newsletter-input{
		height: 48px;
		padding-left: 44px;
		&:active, &:focus{
			border-color: #eee;
		}
	}
}

// blog
.blog{
	.addon-title{
		border-bottom: 1px solid #e6e6e6;
		padding-bottom: 3px;
	}
	.blog-carousel {
		padding-top: 20px;
	}
	.post-meta .time {
	    font-weight: 400;
	    color: #333;
	}
	.post-title a{
		font-size: 16px;
	}
	.category-name {
		position: absolute;
		top: 12px;
		left: 0;
		background: $active-h6;
		padding: 7px 32px;
		a{
			color: #fff;
			text-transform: uppercase;
			font-weight: 600;
		}
	}
	.post-info {
	    margin-top: 14px;
	}
	.post-meta {
	    margin-bottom: 7px;
	}
	.post-title {
	    padding-bottom: 8px;
	}
	.post-intro{
		margin-bottom: 29px;
	}
	.readmore{
		color: $active-h6;
		font-weight: 600;
		text-transform: uppercase;
		position: relative;
		&::after{
			content:"";
			width: 0%;
			height: 1px;
			background: $active-h6;
			bottom: 0;
			left: 0;	
			position: absolute;
			transition: all .4s;
		}
		&:hover::after{
			width: 100%;
		}
	}
}

// brand
.brand{
	margin-top: 83px;
	margin-bottom: 18px;
	.container{
		background: #f8f8f8;
	}
}

// service
.service{
	position: relative;
	z-index: 4;
	.container{
		max-width: 1170px;
		padding: 55px 0 57px;
	}
	.row .layout-column:not(:last-child) .feature-box::after{
		content:"";
		width: 1px;
		height: 62px;
		top: 50%;
		transform: translateY(-50%);
		right: -10px;
		position: absolute;
		background: #e6e6e6;
	}
	.feature-box{
		position: relative;
		i{
			color: #666;
			font-size: 55px;
			margin-right: 15px;
		}
		display: flex;
		justify-content: center;
		align-items: center;
		.text-1{
			font-size: 16px;
			font-weight: 600;
			text-transform: uppercase;
			margin-bottom: -2px;
		}
		.text-2{
			font-size: 13px;
			margin-bottom: 0;
			color: #666;
		}
	}
}

#footer{
	.container{
		max-width: 1170px;
	}
	.addon-title h3{
		font-size: 18px;
	}
}
// footer
.footer_t{
	padding-top: 50px;
	padding-bottom: 48px;
	background: #f9f9f9;
	#social_block{
		ul > li:not(:first-child){
			margin-left: 7px;
		}
		a{
			color: #555;
			font-size: 18px;
			width: 33px;
			height: 33px;
			background: #e0e0e0;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			border-radius: 3px;
			&:hover{
				background: $active-h6;
				color: #fff;
			}
		}
	}
	.row_2{

		margin-top: 30px;
		.addon-box{
			padding: 43px 0 52px;
			border-top: 1px solid #4b4b4b;
		}
		p{
			text-align: center;
			margin-bottom: 0;
			color: #ddd;
		}
		ul{
			text-align: center;
			margin-bottom: 4px;
			li{
				display: inline-block;
				padding: 0 16.8px;
				position: relative;
				&:not(:last-child)::before{
					content: "";
					background: #b7b7b7;
					width: 1px;
					height: 14px;
					position: absolute;
					right: -2px;
					top: 50%;
					transform: translateY(-50%);
				}
				a{
					font-size: 15px;
					&:hover{
						color: $active-h6;
					}
				}
			}
		}
	}
	ul li a{
		color: #333;
		line-height: 36px;
	}
	.contact{
		.phone{
			margin-top: 25px;
			margin-bottom: 38px;
		}
		.address{
			margin-bottom: 34px;
			p{
				font-size: 14px;
				color: #333;
				line-height: 1.5;
			}
		}
		h5{
			font-size: 16px;
			font-weight: 500;
			padding-bottom: 16px;
		}
		h4{
			font-size: 18px;
			font-weight: 600px;
			padding-bottom: 0;
		}
		p{
			font-size: 18px;
			margin-bottom: 0;
		}
		.phone, .contact_info{
			display: flex;
			align-items: center;
		}
		.storm-headset{
			font-size: 39px;
			padding-right: 20px;
		}
		.storm-pin{
			font-size: 25px;
			padding-right: 10px;
		}
	}
}
.footer_b{
	background-color: #000;
	.container > .row{
		display: flex;
		align-items: center;
	}
	.left p{
		color: #fff;
		padding: 26px 0;
		b{
			font-weight: 600;
			font-size: 16px;
		}
	}
	p{
		margin-bottom: 0;
	}
	.right{
		img:not(:last-child){
			margin-right: 16.4px;
		}
		p{
			float: right;
		}
	}
}
@media (max-width: 1366px){
	.cates .c_item-info{
		max-width: 140px;
		overflow: hidden;
		ul li a {
			&.cat-name{
				white-space: nowrap;
			    text-overflow: ellipsis;
			    overflow: hidden;
			}
		    white-space: nowrap;
		    text-overflow: ellipsis;
		    overflow: hidden;

		}
	}
	.newsletter {
		padding: 100px 0;
	}
}
@media (max-width: 1199px){
	#header{
		width: 265px;
	}
	.main-site {
		margin-left: 265px;
	}
	.footer_t .account{
		margin-bottom: 55px;
	}
	.footer_b{
		.container > .row{
			display: block;
		}
		.addon-box p{
			text-align: center;
			float: none;
		}
	}
	.service{
		.row .layout-column:not(:last-child) .feature-box::after{
			display: none;
		}
		.feature-box{
			margin: 10px 0;
		}
	}
}
@media (max-width: 991px){
	div.container{
		width: 750px;
	}
	#header{
		width: 100%;
		position: relative !important;
		height: auto;
	}
	.leftbar{
		.first {
			margin-bottom: 10px;
			margin-top: 15px;
		}
		.second{
			margin-bottom: 15px;
		}
		.third{
			margin-bottom: 15px;
			.jms-megamenu-wrap {
				display: flex;
				justify-content: center;
			}
			#open-button{
				display: inline-block;
			}
		}
		.fifth{
			margin-bottom: 20px;
		}
		.fourth, .sixth{
			display: none;
		}
	}
	.main-site {
		margin-left: 0;
	}
}
@media (max-width: 767px){
	div.container {
		width: auto;
	}
	.banner{
		.left, .center{
			margin-bottom: 15px;
		}
	}
	.footer_t .account {
		margin-bottom: 0;
	}
}
@media (max-width: 481px){
	.newsletter{
		padding: 60px 0;
		#newsletter-input{
			max-width: 173px;
		}
	}
	div.leftbar .second .search-box{
		.searchbox{
			top: 20%;
		}
		#ajax_search{
			width: 230px;
		}
		#search_result{
			width: 293px;
			left: 50%;
			top: calc(30% - 22px);
		}
	}
	.footer_b .addon-box p img {
		margin: 5px 0 !important;
	}
}