@import "mixin";
@import "varians";

.home_13 a:hover {
	color: $active-h13;
}

.container{
	max-width: 1170px;
}
.container-fluid{
	max-width: 100%;
	width: 100%;
}
.btn-cart:hover {
	background: $active-h13;
	border-color: $active-h13;
}
#jmstools .btn-action .btn:hover{
	background: $active-h13;
}
.owl-theme .owl-controls div:hover{
	background-color: $active-h13 !important;
}
.btn-default.active,
.btn-active{
	background: $active-h13;
	&:active, &:focus{
		background: $active-h13;
	}
}
.jms-tab ul .nav-item {
	&.active a{
		color: $active-h13;
	}
	a{
		&.active{
			color: $active-h13;
		}
	}
}
.product-preview {
	.quick-view {
		span {
			background: rgba(0,0,0,0.3);
		}
		&:hover span{
			background: rgba(0,0,0,1);
		}
	}
	.product_action button.cart-button:hover {
	    background: $active-h13;
	    border-color: $active-h13;
	}
	.addToWishlist.product-btn:hover{
		color: $active-h13;
	}
}

// topbar
.topbar{
	color: #555;
	line-height: 43px;
	.container > .row{
		display: flex;
		align-items: center;
	}
	p{
		margin-bottom: 0;
		font-size: 13px;
	}
	.dropdown-menu{
		background: #fff;
		> li{
			padding: 0 20px;
			> a{
				color: #333;
				padding: 3px 0;
				&:hover{
					color: $active-h13;
				}
			}
		}
	}
	.left{
		.addon-box{
			float: left;
			position: relative;
			&:not(:first-child){
				margin-left: 45px;
				&::before{
					content: "";
					height: 13px;
					width: 1px;
					background: #5f33ff;
					position: absolute;
					left: -27px;
					top: 50%;
					transform: translateY(-50%);
				}
			}
		}
		.text{
			font-size: 13px;
			i{
				font-size: 18px;
				position: relative;
				top: 3px;
				left: -4px;
			}
		}
	}
	.right{
		a{
			color: #555;
			font-size: 13px;
			position: relative;
		}
		.languages-info{
			.dropdown-menu{
				left: -20px;
			}
			&.type2{
				display: block;
				.flag{
					position: relative;
					bottom: 1px;
					margin-right: 5px;
				}
			}
			&.type1, &.type3, &.type4{
				display: none;
			}
			@include icon_dropdown(1);
		}
		#_desktop_currency_selector{
			@include icon_dropdown(1);
			.dropdown-menu{
				left: -20px;
			}
			&.type1{
				display: block;
			}
			&.type2, &.type3{
				display: none;
			}
		}
		#_desktop_user_info{
			padding-left: 25px;
			a{
				span{
					font-size: 13px;
					text-transform: capitalize;
				}
				&.account{
					&::before{
						content: "\e915";
						font-family: Storm;
						font-size: 17px;
						position: absolute;
						left: -24px;
						top: -15px;
					}
					&.btn-name::before{
						top: -3px;
					}
				}
			}
			.type3{
				display: block;
			}
			.type1, .type2{
				display: none;
			}
		}
		.addon-box{
			float: right;
			position: relative;
			&:not(:first-child){
				margin-right: 40px;
				&::after{
					content: "";
					height: 100%;
					width: 1px;
					background: rgba(255,255,255,0.3);
					position: absolute;
					right: -20px;
					top: 50%;
					transform: translateY(-50%);
				}
			}
			&:not(:last-child){
				padding-top: 0.5px;
			}
		}
	}
}

// header
.header{
	padding: 6px 0 29px;
	.container > .row{
		display: flex;
		align-items: center;
	}
	.center{
		.jms-advsearch{
			.input-group-addon.icon-drop-down::before{
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				background: #f2f2f2;
				z-index: -2;
			}
			.input-group.keyword-group{
				border-color: $active-h13;
			}
			.storm-zoom {
			    background: $active-h13;
			}
			.input-group-addon.input-group-search {
				background: $active-h13;
			}
		}
	}
	.right{
		.wishlist_top{
			display: block;
			width: 26px;
			height: 24px;
			padding: 0;
			z-index: 99;
			i{
				color: #333;
				font-size: 27px;
				&:hover{
					color: $active-h13;
				}
			}
		}
		.cart-icon{
			display: block;
			width: 28px;
			height: 30px;
			padding: 0;
			z-index: 99;
			position: relative;
			i{
				color: #333;
				font-size: 27px;
				&:hover{
					color: $active-h13;
				}
			}
		}
		.addon-box{
			float: right;
			height: 45px;
			display: flex;
			align-items: center;
			&:not(:first-child){
				margin-right: 29px;
			}
		}
		#cart_block{
			display: flex;
			align-items: center;
			#button_order_cart:hover {
			    background: $active-h13;
			}
			.ajax_cart_quantity {
	    		background: #aaa none repeat scroll 0 0;
	    		top: 11px;
	    		right: -11px;
	    	}
			.text-custom{
				color: #333;
				padding-left: 12px;
				padding-top: 6px;
				p{
					font-size: 13px;
					text-transform: uppercase;
					margin-bottom: 0;
				}
				span{
					font-size: 18px;
					font-weight: 500;
					position: relative;
					top: -7px;
				}
			}
		}
	}
}

// menu
.menu{
	background: #000;
	border-bottom: 1px solid #737373;
	.container > .row{
		display: flex;
		align-items: center;
	}
	.right{
		.addon-box{
			display: flex;
			align-items: center;
			p{
				margin-bottom: 0;
				img{
					position: relative;
					top: 1px;
					left: 6px;
				}
			}
		}
		.text{
			padding-left: 17px;
			p{
				font-weight: 500;
				margin-bottom: 0;
				&:first-child{
					margin-bottom: -5px;
				}
				a{
					font-weight: 400;
					&:hover{
						color: $active-h13;
					}
				}
			}
		}
	}
	.jms-megamenu .nav{
		text-align: left;
		> li{
			padding: 0 28px;
			&.home{
				padding-left: 0;
			}
			> a{
				line-height: 60px;
				font-size: 15px;
				color: #fff;
			}
		}
	}
}

// slider
.slides{
	.btn-shopnow {
		border: 2px solid #aaa;
		background: transparent;
	    padding: 15px 44px;
	    &:hover{
	    	border-color: #fff;
	    	background: #fff;
	    	color: #000 !important;
	    }
	}
	.text-1, .text-2{
		font-weight: 600;
		text-transform: uppercase;
	}
	.text-3{
		font-weight: 500;
		text-transform: uppercase;
	}
}

// banner1
.banner_1{
	margin-top: 50px;
	.container-fluid{
		max-width: 1800px;
		margin: 0 auto;
	}
	.left{
		width: 28.15%;
	}
	.center{
		width: 43.7%;
	}
	.right{
		width: 28.15%;
	}
	.jms-banner{
		a{
			display: block;
			&:hover::before{
				opacity: 1;
				transform: scale(1);
			}
			&::before{
				content: "";
				width: 100%;
				height: 100%;
				opacity: 0;
				top: 0%;
				left: 0%;
				background: rgba(0,0,0,0.2);
				position: absolute;
				transform: scale(0);
				transition: all .4s;
			}
		}
		img{
			width: 100%;
		}
	}
}

// hot product
.hot_product{
	position: relative;
	z-index: 2;
	margin-top: 75px;
	.owl-stage-outer{
		padding-bottom: 150px;
	}
	.addon-title{
		border-bottom: 1px solid #e6e6e6;
		padding-bottom: 3px;
	}
	.left{
		margin-top: -12px;
		.jms-hotdeal{
			.product-sold{
				padding-bottom: 2px;
			}
			.product-box{
				border: 2px solid #000;
				&::before{
					top: -5px;
					left: -5px;
				}
			}
		}
		.hotdeal-carousel{
			padding-top: 0;
		}
	}
}

// product tab
.product_tab{
	margin-top: -150px;
	position: relative;
	z-index: 3;
	.addon-box{
		margin-top: -150px;
	}
	.owl-stage-outer{
		padding-bottom: 150px;
	}
}

// banner full
.banner_full{
	position: relative;
	z-index: 4;
	margin-top: -156px;
	.addon-box{
		margin-top: -156px;
		display: flex;
		justify-content: center;
	}
	.feature-box{
		position: relative;
		max-width: 1903px;
	}
	.image{
		text-align: center;
	}
	.include_content_s{
		color: #fff;
		position: absolute;
		top: calc(50% - 17px);
		left: calc(19% + 4px);
		transform: translateY(-50%);
		.text-1{
			font-size: 50px;
			color: #fff;
			font-weight: 700;
			margin-bottom: 14px;
			text-transform: uppercase;
			max-width: 395px;
			line-height: 1;
		}
		.text-2{
			font-size: 36px;
			font-weight: 600;
			line-height: 0.86;
			color: #3a71ec;
			text-transform: uppercase;
			margin-bottom: 21px;
		}
		.text-3{
			font-size: 20px;
			margin-bottom: 37px;
			color: #aaa;
			span{
				font-size: 22px;
				color: #ccc;
				font-family: 'Dancing Script', cursive;
				text-transform: capitalize;
				font-weight: 700;
			}
		}
		.btn-shopnow{
			border: 2px solid #aaa;
			background: transparent;
			display: inline-block;
			color: #aaa;
			&:hover{
				color: #000;
				background: #fff;
				border-color: #fff;
			}
		}
	}
}