.home_9 a:hover {
  color: #4bba5b; }

.container {
  max-width: 1170px; }

.container-fluid {
  max-width: 100%;
  width: 100%; }

.btn-cart:hover {
  background: #4bba5b;
  border-color: #4bba5b; }

#jmstools .btn-action .btn:hover {
  background: #4bba5b; }

.owl-theme .owl-controls div:hover {
  background-color: #4bba5b !important; }

.btn-default.active,
.btn-active {
  background: #4bba5b; }

.jms-tab ul .nav-item.active a {
  color: #4bba5b; }

.jms-tab ul .nav-item a.active {
  color: #4bba5b; }

.product-preview .quick-view span {
  background: rgba(191, 11, 38, 0.3); }

.product-preview .quick-view:hover span {
  background: #bf0b26; }

.product-preview .product_action button.cart-button:hover {
  background: #4bba5b;
  border-color: #4bba5b; }

.product-preview .addToWishlist.product-btn:hover {
  color: #4bba5b; }

.topbar {
  background: #fff;
  color: #333;
  line-height: 43px; }
  .topbar .container > .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .topbar p {
    margin-bottom: 0;
    font-size: 13px; }
  .topbar .lnr-map-marker {
    font-size: 17px;
    position: relative;
    top: 2px;
    margin-right: 3px; }
  .topbar .dropdown-menu {
    background: #fff; }
    .topbar .dropdown-menu > li {
      padding: 0 20px; }
      .topbar .dropdown-menu > li > a {
        color: #333;
        padding: 3px 0; }
        .topbar .dropdown-menu > li > a:hover {
          color: #4bba5b; }
  .topbar .left .addon-box {
    float: left;
    position: relative; }
    .topbar .left .addon-box:not(:first-child) {
      margin-left: 45px; }
      .topbar .left .addon-box:not(:first-child)::before {
        content: "";
        height: 13px;
        width: 1px;
        background: #5f33ff;
        position: absolute;
        left: -27px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
  .topbar .left .text {
    font-size: 13px; }
    .topbar .left .text i {
      font-size: 18px;
      position: relative;
      top: 3px;
      left: -4px; }
  .topbar .right #social_block ul {
    margin-bottom: 0; }
    .topbar .right #social_block ul li:not(:first-child) a {
      margin-left: 15px; }
    .topbar .right #social_block ul li a {
      font-size: 16px;
      color: rgba(51, 51, 51, 0.66); }
      .topbar .right #social_block ul li a:hover {
        color: #333333; }
  .topbar .right a {
    color: #333;
    font-size: 13px;
    position: relative; }
  .topbar .right .languages-info .dropdown-menu {
    left: -20px; }
  .topbar .right .languages-info.type2 {
    display: block; }
    .topbar .right .languages-info.type2 .flag {
      position: relative;
      bottom: 1px;
      margin-right: 5px; }
  .topbar .right .languages-info.type1, .topbar .right .languages-info.type3, .topbar .right .languages-info.type4 {
    display: none; }
  .topbar .right .languages-info a.dropdown-toggle::after {
    content: "\f107";
    font-family: "FontAwesome";
    padding-left: 1px; }
  .topbar .right #_desktop_currency_selector .dropdown-menu {
    left: -20px; }
  .topbar .right #_desktop_currency_selector.type1 {
    display: block; }
  .topbar .right #_desktop_currency_selector.type2, .topbar .right #_desktop_currency_selector.type3 {
    display: none; }
  .topbar .right #_desktop_user_info {
    padding-left: 25px; }
    .topbar .right #_desktop_user_info a span {
      font-size: 13px;
      text-transform: capitalize; }
    .topbar .right #_desktop_user_info a.account::before {
      content: "\e915";
      font-family: Storm;
      font-size: 17px;
      position: absolute;
      left: -24px;
      top: -15px; }
    .topbar .right #_desktop_user_info a.account.btn-name::before {
      top: -3px; }
    .topbar .right #_desktop_user_info .type3 {
      display: block; }
    .topbar .right #_desktop_user_info .type1, .topbar .right #_desktop_user_info .type2 {
      display: none; }
  .topbar .right .addon-box {
    float: right;
    position: relative; }
    .topbar .right .addon-box:not(:first-child) {
      margin-right: 40px; }
      .topbar .right .addon-box:not(:first-child)::after {
        content: "";
        height: 100%;
        width: 1px;
        background: rgba(0, 0, 0, 0.1);
        position: absolute;
        right: -20px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
    .topbar .right .addon-box:not(:last-child) {
      padding-top: 0.5px; }

.header {
  padding: 22px 0 13px; }
  .header .container > .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header .center .jms-advsearch .input-group-addon.icon-drop-down::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #f2f2f2;
    z-index: -2; }
  .header .center .jms-advsearch .input-group.keyword-group {
    border-color: #4bba5b; }
  .header .center .jms-advsearch .storm-zoom {
    background: #4bba5b; }
  .header .center .jms-advsearch .input-group-addon.input-group-search {
    background: #4bba5b; }
  .header .right .wishlist_top {
    display: block;
    width: 26px;
    height: 24px;
    padding: 0;
    z-index: 99; }
    .header .right .wishlist_top i {
      color: #333;
      font-size: 27px; }
      .header .right .wishlist_top i:hover {
        color: #4bba5b; }
  .header .right .cart-icon {
    display: block;
    width: 28px;
    height: 30px;
    padding: 0;
    z-index: 99;
    position: relative; }
    .header .right .cart-icon i {
      color: #333;
      font-size: 27px; }
      .header .right .cart-icon i:hover {
        color: #4bba5b; }
  .header .right .addon-box {
    float: right;
    height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .header .right .addon-box:not(:first-child) {
      margin-right: 29px; }
  .header .right #cart_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .header .right #cart_block #button_order_cart:hover {
      background: #4bba5b; }
    .header .right #cart_block .ajax_cart_quantity {
      background: #4bba5b none repeat scroll 0 0;
      top: -3px;
      right: -12px; }
    .header .right #cart_block .text-custom {
      color: #333;
      padding-left: 12px;
      padding-top: 20px; }
      .header .right #cart_block .text-custom p {
        display: none; }
      .header .right #cart_block .text-custom span {
        font-size: 18px;
        font-weight: 500;
        position: relative;
        top: -7px; }
