@import "mixin";
@import "varians";

.home_15 a:hover{
	color: $active-h15;
}

.container{
	max-width: 1170px;
}
.container-fluid{
	max-width: 1570px;
	width: 100%;
}
.btn-cart:hover {
	background: $active-h15;
	border-color: $active-h15;
}
#jmstools .btn-action .btn:hover{
	background: $active-h15;
}
.btn-default.active,
.btn-active{
	background: $active-h15;
}
.jms-tab ul .nav-item {
	&.active a{
		color: $active-h15;
	}
	a{
		&.active{
			color: $active-h15;
		}
	}
}
.product-preview {
	.quick-view {
		span {
			background: rgba(237,180,2,0.3);
		}
		&:hover span{
			background: rgba(237,180,2,1);
		}
	}
	.product_action button.cart-button:hover {
	    background: $active-h15;
	    border-color: $active-h15;
	}
	.addToWishlist.product-btn:hover{
		color: $active-h15;
	}
}


// topbar
.topbar{
	.dropdown-menu{
		padding: 5px 0;
		display: block;
	}
	.open > .dropdown-menu {
	    background-color: #f7f8f8;
	}
	.container-fluid > .row{
		display: flex;
		align-items: center;
	}
	background: #f7f8f8;
	color: #333;
	.center{
		p{
			margin-bottom: 0;
			line-height: 50px;
			text-transform: uppercase;
			span{
				font-weight: 600;
				position: relative;
				&::after{
					content: "";
					position: absolute;
					width: 100%;
					height: 1px;
					background: #fff;
					bottom: 0;
					left: 0;
				}
			}
		}
	}
	.right{
		.addon-box{
			float: right;
			position: relative;
			&:not(:first-child){
				margin-right: 41px;
				&::after{
					content: "";
					position: absolute;
					width: 1px;
					height: 17px;
					background: rgba(255,255,255,0.2);
					right: -21px;
					top: 19px;
				}
			}
		}
		#_desktop_currency_selector{
			.dropdown-menu{
				left: -19px;
				min-width: 90px;
			}
			&.type2, &.type3{
				display: none;
			}
			&.type1{
				display: block;
			}
			@include icon_dropdown(1);
		}
		.languages-info{
			.dropdown-menu{
				left: -20px;
			}
			&.type2{
				display: block;
				.flag{
					position: relative;
					bottom: 1px;
					margin-right: 5px;
				}
			}
			&.type1, &.type3, &.type4{
				display: none;
			}
			@include icon_dropdown(1);
		}
		#_desktop_user_info{
			.type1, .type2{
				display: none;
			}
			.type3{
				display: block;
			}
		}
		a{
			color: #333;
			line-height: 50px;
			&.dropdown-item{
				line-height: 35px;
			}
			&:hover{
				color: $active-h15;
			}
		}
	}
	.left{
		.addon-box{
			float: left;
			position: relative;
			&:not(:first-child){
				margin-left: 34px;
				&::before{
					content: "";
					position: absolute;
					width: 1px;
					height: 17px;
					background: rgba(255,255,255,0.2);
					left: -15px;
					top: 4px;
				}
			}
		}
		p{
			margin-bottom: 0;
		} 
	}
}


// header
.header{
	position:relative;
	z-index: 2;
	background: rgba(0,0,0,0.77);
	padding: 25px 0 23px;
	#advsearch_result {
		top: 47px;
		width: calc(100% + 12px);
		box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
		border-radius: 3px;
	}
	.center{
		.jms-advsearch{
			max-width: 619px;
			float: right;
			.input-group.keyword-group{
				background: #fff;
			}
			.storm-zoom{
				background: $active-h15;
			}
			.input-group-addon.input-group-search{
				background: $active-h15;
			}
		}
		#ajax_advsearch{
			&::-webkit-input-placeholder{
				color: #888;
				font-size: 13px;
			}
			&::-moz-placeholder{
				color: #888;
				font-size: 13px;
			}
		}
	}
	.container-fluid > .row{
		display: flex;
		align-items: center;
	}
	.right{
		#jms_ajax_search{
			&::after{
				content: "";
				position: absolute;
				width: 1px;
				height: 35px;
				background: #fff;
				right: -32px;
				top: 3px;
			}
		}
		#cart_block{
			display: flex;
			align-items: center;
			.ajax_cart_quantity {
	    		background: $active-h15 none repeat scroll 0 0;
	    	}
			.text-custom{
				color: #fff;
				padding-left: 16px;
				padding-top: 10px;
				p{
					font-size: 13px;
					text-transform: uppercase;
					margin-bottom: 0;
				}
				span{
					font-size: 19px;
					font-weight: 600;
					position: relative;
					top: -7px;
				}
			}
		}
		.addon-box{
			float: right;
			height: 45px;
			display: flex;
			align-items: center;
			&:not(:first-child){
				margin-right: 40px;
			}
			&:nth-child(3){
				margin-right: 77px;
			}
		}
		.wishlist_top{
			display: block;
			width: 26px;
			height: 24px;
			padding: 0;
			z-index: 99;
			i{
				color: #fff;
				font-size: 27px;
				&:hover{
					color: $active-h15;
				}
			}
		}
		.cart-icon{
			display: block;
			width: 28px;
			height: 30px;
			padding: 0;
			z-index: 99;
			position: relative;
			i{
				color: #fff;
				font-size: 27px;
				&:hover{
					color: $active-h15;
				}
			}
		}
	}
}

// slider
.slides{
	position: relative;
	z-index: 1;;
	.container-fluid{
		max-width: 100%;

	}
	.btn-shopnow {
		background: $active-h15;
	    padding: 15px 44px;
	}
	.slide_1{
		.text-1{
			font-weight: 600;
			text-transform: uppercase;
		}
		.text-2{
			font-weight: 700;
			text-transform: uppercase;
		}
		.text-3{
			font-weight: 500;
			text-transform: uppercase;
		}
	}
}