@import "mixin";
@import "varians";

.home_9 a:hover {
	color: $active-h9;
}

.container{
	max-width: 1170px;
}
.container-fluid{
	max-width: 100%;
	width: 100%;
}
.btn-cart:hover {
	background: $active-h9;
	border-color: $active-h9;
}
#jmstools .btn-action .btn:hover{
	background: $active-h9;
}
.owl-theme .owl-controls div:hover{
	background-color: $active-h9 !important;
}
.btn-default.active,
.btn-active{
	background: $active-h9;
}
.jms-tab ul .nav-item {
	&.active a{
		color: $active-h9;
	}
	a{
		&.active{
			color: $active-h9;
		}
	}
}
.product-preview {
	.quick-view {
		span {
			background: rgba(191,11,38,0.3);
		}
		&:hover span{
			background: rgba(191,11,38,1);
		}
	}
	.product_action button.cart-button:hover {
	    background: $active-h9;
	    border-color: $active-h9;
	}
	.addToWishlist.product-btn:hover{
		color: $active-h9;
	}
}

// topbar
.topbar{
	background: #fff;
	color: #333;
	line-height: 43px;
	.container > .row{
		display: flex;
		align-items: center;
	}
	p{
		margin-bottom: 0;
		font-size: 13px;
	}
	.lnr-map-marker{
		font-size: 17px;
		position: relative;
		top: 2px;
		margin-right: 3px;
	}
	.dropdown-menu{
		background: #fff;
		> li{
			padding: 0 20px;
			> a{
				color: #333;
				padding: 3px 0;
				&:hover{
					color: $active-h9;
				}
			}
		}
	}
	.left{
		.addon-box{
			float: left;
			position: relative;
			&:not(:first-child){
				margin-left: 45px;
				&::before{
					content: "";
					height: 13px;
					width: 1px;
					background: #5f33ff;
					position: absolute;
					left: -27px;
					top: 50%;
					transform: translateY(-50%);
				}
			}
		}
		.text{
			font-size: 13px;
			i{
				font-size: 18px;
				position: relative;
				top: 3px;
				left: -4px;
			}
		}
	}
	.right{
		#social_block{
			ul{
				margin-bottom: 0;
				li{
					&:not(:first-child) a{
						margin-left: 15px;
					}
					a{
						font-size: 16px;
						color: rgba(51,51,51,0.66);
						&:hover{
							color: rgba(51,51,51,1);
						}
					}
				}
			}
		}
		a{
			color: #333;
			font-size: 13px;
			position: relative;
		}
		.languages-info{
			.dropdown-menu{
				left: -20px;
			}
			&.type2{
				display: block;
				.flag{
					position: relative;
					bottom: 1px;
					margin-right: 5px;
				}
			}
			&.type1, &.type3, &.type4{
				display: none;
			}
			@include icon_dropdown(1);
		}
		#_desktop_currency_selector{
			.dropdown-menu{
				left: -20px;
			}
			&.type1{
				display: block;
			}
			&.type2, &.type3{
				display: none;
			}
		}
		#_desktop_user_info{
			padding-left: 25px;
			a{
				span{
					font-size: 13px;
					text-transform: capitalize;
				}
				&.account{
					&::before{
						content: "\e915";
						font-family: Storm;
						font-size: 17px;
						position: absolute;
						left: -24px;
						top: -15px;
					}
					&.btn-name::before{
						top: -3px;
					}
				}
			}
			.type3{
				display: block;
			}
			.type1, .type2{
				display: none;
			}
		}
		.addon-box{
			float: right;
			position: relative;
			&:not(:first-child){
				margin-right: 40px;
				&::after{
					content: "";
					height: 100%;
					width: 1px;
					background: rgba(0,0,0,0.1);
					position: absolute;
					right: -20px;
					top: 50%;
					transform: translateY(-50%);
				}
			}
			&:not(:last-child){
				padding-top: 0.5px;
			}
		}
	}
}

// header
.header{
	padding: 22px 0 13px;
	.container > .row{
		display: flex;
		align-items: center;
	}
	.center{
		.jms-advsearch{
			.input-group-addon.icon-drop-down::before{
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				background: #f2f2f2;
				z-index: -2;
			}
			.input-group.keyword-group{
				border-color: $active-h9;
			}
			.storm-zoom {
			    background: $active-h9;
			}
			.input-group-addon.input-group-search {
				background: $active-h9;
			}
		}
	}
	.right{
		.wishlist_top{
			display: block;
			width: 26px;
			height: 24px;
			padding: 0;
			z-index: 99;
			i{
				color: #333;
				font-size: 27px;
				&:hover{
					color: $active-h9;
				}
			}
		}
		.cart-icon{
			display: block;
			width: 28px;
			height: 30px;
			padding: 0;
			z-index: 99;
			position: relative;
			i{
				color: #333;
				font-size: 27px;
				&:hover{
					color: $active-h9;
				}
			}
		}
		.addon-box{
			float: right;
			height: 45px;
			display: flex;
			align-items: center;
			&:not(:first-child){
				margin-right: 29px;
			}
		}
		#cart_block{
			display: flex;
			align-items: center;
			#button_order_cart:hover {
			    background: $active-h9;
			}
			.ajax_cart_quantity {
	    		background: $active-h9 none repeat scroll 0 0;
	    		top: -3px;
	    		right: -12px;
	    	}
			.text-custom{
				color: #333;
				padding-left: 12px;
				padding-top: 20px;
				p{
					display: none;
				}
				span{
					font-size: 18px;
					font-weight: 500;
					position: relative;
					top: -7px;
				}
			}
		}
	}
}

// menu
.menu{
	.container > .row{
		display: flex;
		align-items: center;
	}
	.right{
		position: relative;
		top: -4px;
		.addon-box{
			display: flex;
			align-items: center;
			p{
				margin-bottom: 0;
				img{
					position: relative;
					top: 1px;
					left: 6px;
				}
			}
		}
		.text{
			padding-left: 17px;
			p{
				font-weight: 500;
				margin-bottom: 0;
				&:first-child{
					margin-bottom: -5px;
				}
				a{
					font-weight: 400;
					&:hover{
						color: $active-h3;
					}
				}
			}
		}
	}
	#jms-vermegamenu-container{
		box-shadow: 0 0 5px rgba(0,0,0,0.2);
	}
	.jms-vermegamenu{
		padding: 12px 0;
		box-shadow: unset;
		background: #fff;
		li > a:hover{
			color: $active-h3;
		}
		.nav > li{
			> a{
				padding: 4.55px 0;
				&:hover{
					color: $active-h3;
				}
				&.open{
					color: $active-h3;
				}
			}
		}
	}
	.jms-megamenu .nav{
		text-align: left;
		> li{
			padding: 0 16px;
			&.home{
				padding-left: 0;
			}
			> a{
				line-height: 52px;
				font-size: 15px;
				color: #222;
			}
			&.open > a{
				color: $active-h3;
			}
		}
	}
}