#off-canvas-menu-toggle span {
	color: #ffffff;
    display: none;
    font-size: 32px;
    line-height: 95px;
}
.off-canvas-menu-open #off-canvas-menu-toggle {
    display: none;
}
#off-canvas-menu .nav > li {
	float:left;
	width:100%;
	margin-top:0;
}
#off-canvas-menu .jms-megamenu {
	box-shadow: none;
	text-align: left;
}
#off-canvas-menu .open > .dropdown-menu {
    background: #000 none repeat scroll 0 0;
    border: 0 none;
    box-shadow: none;
    padding: 0;
    position: static;
    width: 100%;
}
#off-canvas-menu .dropdown-menu > li > a {
    font-family: "Neue Einstellung"; 
    font-weight:400;
    line-height: 35px;
    padding: 3px 30px;
    text-transform: capitalize;
}
#off-canvas-menu .dropdown-menu > li > a:focus, #off-canvas-menu .dropdown-menu > li > a:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #d0d0d0;
    text-decoration: none;
}
#off-canvas-menu li a {
    border-radius: 0;
    color: #fff;
    display: block;
    font-family: neue einstellung;
    font-weight:600;
    text-align: center;
    text-transform: uppercase;
}
#off-canvas-menu .user-info li a, #off-canvas-menu .languages-info li a,  #off-canvas-menu .currency-info li a{
    font-family: "Neue Einstellung"; 
    font-weight:400;
    text-transform: capitalize;
}
#off-canvas-menu #jms-megamenu > li > a {
	text-transform:uppercase;	
}
#off-canvas-menu .nav .open > a, #off-canvas-menu .nav .open > a:focus, #off-canvas-menu .nav .open > a:hover{
	background-color:#0d0d0d;
}
#off-canvas-menu .btn-group .dropdown-menu {
    background: #0f0f0f none repeat scroll 0 0;
    left: 0;
    margin: 1px auto 0;
    position: absolute;
    right: 0;
    text-align: center;
    width: 271px;
}
#off-canvas-menu .currency-info a , #off-canvas-menu .user-info a, #off-canvas-menu .languages-info a, 
#off-canvas-menu .currency-info .btn-name{
    color: #7c7c7c;
    font-size: 14px;
}
#off-canvas-menu  .btn-group.open {
    background: #0f0f0f none repeat scroll 0 0;
}
#off-canvas-menu .addon-box .btn-group {
    margin-left: 50px;
    margin-right: 50px;
}
#off-canvas-menu .btn-group {
    margin: 0 auto 2px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    width: 270px;
}
#off-canvas-menu .btn-group > ul li span, #off-canvas-menu .btn-group > ul li a {
    color: #7c7c7c;
    font-family: "raleway";
    font-size: 13px;
}
#off-canvas-menu .btn-group.open .dropdown-menu::before {
    display: none;
}
#off-canvas-menu  .btn-group.open::before {
    color: #7c7c7c;
    content: "";
    font-family: "fontawesome";
    line-height: 42px;
    position: absolute;
    right: 21px;
}
#off-canvas-menu .nav {
    padding-bottom: 70px;
}
#off-canvas-menu .menu-item.mega .mod-content {
    display: none;
}
#off-canvas-menu .btn-group.currency-info {
    margin-bottom: 30px;
}
.responsive #off-canvas-menu-title {
    background: none repeat scroll 0 0 #fff;
    border-bottom: 1px solid #E7E7E7;
    font-size: 1.23em;
    line-height: 46px;
    padding-left: 15px;
    font-weight:bold;
}
.responsive #off-canvas-menu-close {
    color: #1c2833;
    cursor: pointer;
    float: right;
    font-size: 20px;
    padding: 12px 12px 0 0;
}

#off-canvas-menu img{
	max-width:100%;
	margin-bottom:10px;
}
#off-canvas-menu li > a em {
	float:right;
	font-size:15px;
	width:20px;
	height:20px;
	line-height:20px;
	margin-top:5px;
	text-align:center;
}