.breadcrumb-inner ol li:last-child a {
  color: #222;
  font-weight: 600; }

.breadcrumb-inner ol li a {
  text-transform: uppercase;
  color: #888; }

#_desktop_search_filters_clear_all button {
  background: #111;
  border-color: #111; }

.facet.color ul li {
  float: left;
  border-bottom: 0 !important; }
  .facet.color ul li a {
    display: none; }

.products-list-in-column .js-product-miniature:hover {
  border-radius: 0; }

.facet-label.active a {
  color: #fff !important; }

.home_1 .facet-label.active a {
  background: #1ec7a6 !important;
  border-color: #1ec7a6 !important; }

.home_2 .facet-label.active a {
  background: #ed2b2b !important;
  border-color: #ed2b2b !important; }

.home_3 .facet-label.active a {
  background: #3700ff !important;
  border-color: #3700ff !important; }

.home_4 .facet-label.active a {
  background: #02a8f3 !important;
  border-color: #02a8f3 !important; }

.home_5 .facet-label.active a {
  background: #f56c57 !important;
  border-color: #f56c57 !important; }

.home_6 .facet-label.active a {
  background: #1ec7a6 !important;
  border-color: #1ec7a6 !important; }

.home_7 .facet-label.active a {
  background: #f28f00 !important;
  border-color: #f28f00 !important; }

.home_8 .facet-label.active a {
  background: #bf0b26 !important;
  border-color: #bf0b26 !important; }

.home_9 .facet-label.active a {
  background: #4bba5b !important;
  border-color: #4bba5b !important; }

.home_10 .facet-label.active a {
  background: #9cb130 !important;
  border-color: #9cb130 !important; }

.home_11 .facet-label.active a {
  background: #c09749 !important;
  border-color: #c09749 !important; }

.home_12 .facet-label.active a {
  background: #ff0000 !important;
  border-color: #ff0000 !important; }

.home_13 .facet-label.active a {
  background: #000 !important;
  border-color: #000 !important; }

.home_14 .facet-label.active a {
  background: #1ec7a6 !important;
  border-color: #1ec7a6 !important; }

.home_15 .facet-label.active a {
  background: #edb402 !important;
  border-color: #edb402 !important; }

.home_16 .facet-label.active a {
  background: #9d3bc6 !important;
  border-color: #9d3bc6 !important; }

.home_17 .facet-label.active a {
  background: #fed700 !important;
  border-color: #fed700 !important; }

.home_18 .facet-label.active a {
  background: #085a9d !important;
  border-color: #085a9d !important; }

.home_19 .facet-label.active a {
  background: #f15a2b !important;
  border-color: #f15a2b !important; }

.home_20 .facet-label.active a {
  background: #f15a2b !important;
  border-color: #f15a2b !important; }

.home_1 #search_filters .facet .facet-title,
.home_1 .title-block h3 {
  border-bottom-color: #1ec7a6; }

.home_2 #search_filters .facet .facet-title,
.home_2 .title-block h3 {
  border-bottom-color: #ed2b2b; }

.home_3 #search_filters .facet .facet-title,
.home_3 .title-block h3 {
  border-bottom-color: #3700ff; }

.home_4 #search_filters .facet .facet-title,
.home_4 .title-block h3 {
  border-bottom-color: #02a8f3; }

.home_5 #search_filters .facet .facet-title,
.home_5 .title-block h3 {
  border-bottom-color: #f56c57; }

.home_6 #search_filters .facet .facet-title,
.home_6 .title-block h3 {
  border-bottom-color: #1ec7a6; }

.home_7 #search_filters .facet .facet-title,
.home_7 .title-block h3 {
  border-bottom-color: #f28f00; }

.home_8 #search_filters .facet .facet-title,
.home_8 .title-block h3 {
  border-bottom-color: #bf0b26; }

.home_9 #search_filters .facet .facet-title,
.home_9 .title-block h3 {
  border-bottom-color: #4bba5b; }

.home_10 #search_filters .facet .facet-title,
.home_10 .title-block h3 {
  border-bottom-color: #9cb130; }

.home_11 #search_filters .facet .facet-title,
.home_11 .title-block h3 {
  border-bottom-color: #c09749; }

.home_12 #search_filters .facet .facet-title,
.home_12 .title-block h3 {
  border-bottom-color: #ff0000; }

.home_13 #search_filters .facet .facet-title,
.home_13 .title-block h3 {
  border-bottom-color: #000; }

.home_14 #search_filters .facet .facet-title,
.home_14 .title-block h3 {
  border-bottom-color: #1ec7a6; }

.home_15 #search_filters .facet .facet-title,
.home_15 .title-block h3 {
  border-bottom-color: #edb402; }

.home_16 #search_filters .facet .facet-title,
.home_16 .title-block h3 {
  border-bottom-color: #9d3bc6; }

.home_17 #search_filters .facet .facet-title,
.home_17 .title-block h3 {
  border-bottom-color: #fed700; }

.home_18 #search_filters .facet .facet-title,
.home_18 .title-block h3 {
  border-bottom-color: #085a9d; }

.home_19 #search_filters .facet .facet-title,
.home_19 .title-block h3 {
  border-bottom-color: #f15a2b; }

.home_20 #search_filters .facet .facet-title,
.home_20 .title-block h3 {
  border-bottom-color: #f15a2b; }

.home_1 .pagination .current a,
.home_1 .pagination a:hover {
  background-color: #1ec7a6 !important;
  border-color: #1ec7a6;
  font-weight: 600; }

.home_2 .pagination .current a,
.home_2 .pagination a:hover {
  background-color: #ed2b2b !important;
  border-color: #ed2b2b;
  font-weight: 600; }

.home_3 .pagination .current a,
.home_3 .pagination a:hover {
  background-color: #3700ff !important;
  border-color: #3700ff;
  font-weight: 600; }

.home_4 .pagination .current a,
.home_4 .pagination a:hover {
  background-color: #02a8f3 !important;
  border-color: #02a8f3;
  font-weight: 600; }

.home_5 .pagination .current a,
.home_5 .pagination a:hover {
  background-color: #f56c57 !important;
  border-color: #f56c57;
  font-weight: 600; }

.home_6 .pagination .current a,
.home_6 .pagination a:hover {
  background-color: #1ec7a6 !important;
  border-color: #1ec7a6;
  font-weight: 600; }

.home_7 .pagination .current a,
.home_7 .pagination a:hover {
  background-color: #f28f00 !important;
  border-color: #f28f00;
  font-weight: 600; }

.home_8 .pagination .current a,
.home_8 .pagination a:hover {
  background-color: #bf0b26 !important;
  border-color: #bf0b26;
  font-weight: 600; }

.home_9 .pagination .current a,
.home_9 .pagination a:hover {
  background-color: #4bba5b !important;
  border-color: #4bba5b;
  font-weight: 600; }

.home_10 .pagination .current a,
.home_10 .pagination a:hover {
  background-color: #9cb130 !important;
  border-color: #9cb130;
  font-weight: 600; }

.home_11 .pagination .current a,
.home_11 .pagination a:hover {
  background-color: #c09749 !important;
  border-color: #c09749;
  font-weight: 600; }

.home_12 .pagination .current a,
.home_12 .pagination a:hover {
  background-color: #ff0000 !important;
  border-color: #ff0000;
  font-weight: 600; }

.home_13 .pagination .current a,
.home_13 .pagination a:hover {
  background-color: #000 !important;
  border-color: #000;
  font-weight: 600; }

.home_14 .pagination .current a,
.home_14 .pagination a:hover {
  background-color: #1ec7a6 !important;
  border-color: #1ec7a6;
  font-weight: 600; }

.home_15 .pagination .current a,
.home_15 .pagination a:hover {
  background-color: #edb402 !important;
  border-color: #edb402;
  font-weight: 600; }

.home_16 .pagination .current a,
.home_16 .pagination a:hover {
  background-color: #9d3bc6 !important;
  border-color: #9d3bc6;
  font-weight: 600; }

.home_17 .pagination .current a,
.home_17 .pagination a:hover {
  background-color: #fed700 !important;
  border-color: #fed700;
  font-weight: 600; }

.home_18 .pagination .current a,
.home_18 .pagination a:hover {
  background-color: #085a9d !important;
  border-color: #085a9d;
  font-weight: 600; }

.home_19 .pagination .current a,
.home_19 .pagination a:hover {
  background-color: #f15a2b !important;
  border-color: #f15a2b;
  font-weight: 600; }

.home_20 .pagination .current a,
.home_20 .pagination a:hover {
  background-color: #f15a2b !important;
  border-color: #f15a2b;
  font-weight: 600; }

.home_1 .view-mode .button a.active {
  color: #1ec7a6; }

.home_2 .view-mode .button a.active {
  color: #ed2b2b; }

.home_3 .view-mode .button a.active {
  color: #3700ff; }

.home_4 .view-mode .button a.active {
  color: #02a8f3; }

.home_5 .view-mode .button a.active {
  color: #f56c57; }

.home_6 .view-mode .button a.active {
  color: #1ec7a6; }

.home_7 .view-mode .button a.active {
  color: #f28f00; }

.home_8 .view-mode .button a.active {
  color: #bf0b26; }

.home_9 .view-mode .button a.active {
  color: #4bba5b; }

.home_10 .view-mode .button a.active {
  color: #9cb130; }

.home_11 .view-mode .button a.active {
  color: #c09749; }

.home_12 .view-mode .button a.active {
  color: #ff0000; }

.home_13 .view-mode .button a.active {
  color: #000; }

.home_14 .view-mode .button a.active {
  color: #1ec7a6; }

.home_15 .view-mode .button a.active {
  color: #edb402; }

.home_16 .view-mode .button a.active {
  color: #9d3bc6; }

.home_17 .view-mode .button a.active {
  color: #fed700; }

.home_18 .view-mode .button a.active {
  color: #085a9d; }

.home_19 .view-mode .button a.active {
  color: #f15a2b; }

.home_20 .view-mode .button a.active {
  color: #f15a2b; }

.home_1 .products-list-in-row .addToWishlist:hover {
  background-color: #1ec7a6;
  border-color: #1ec7a6; }

.home_2 .products-list-in-row .addToWishlist:hover {
  background-color: #ed2b2b;
  border-color: #ed2b2b; }

.home_3 .products-list-in-row .addToWishlist:hover {
  background-color: #3700ff;
  border-color: #3700ff; }

.home_4 .products-list-in-row .addToWishlist:hover {
  background-color: #02a8f3;
  border-color: #02a8f3; }

.home_5 .products-list-in-row .addToWishlist:hover {
  background-color: #f56c57;
  border-color: #f56c57; }

.home_6 .products-list-in-row .addToWishlist:hover {
  background-color: #1ec7a6;
  border-color: #1ec7a6; }

.home_7 .products-list-in-row .addToWishlist:hover {
  background-color: #f28f00;
  border-color: #f28f00; }

.home_8 .products-list-in-row .addToWishlist:hover {
  background-color: #bf0b26;
  border-color: #bf0b26; }

.home_9 .products-list-in-row .addToWishlist:hover {
  background-color: #4bba5b;
  border-color: #4bba5b; }

.home_10 .products-list-in-row .addToWishlist:hover {
  background-color: #9cb130;
  border-color: #9cb130; }

.home_11 .products-list-in-row .addToWishlist:hover {
  background-color: #c09749;
  border-color: #c09749; }

.home_12 .products-list-in-row .addToWishlist:hover {
  background-color: #ff0000;
  border-color: #ff0000; }

.home_13 .products-list-in-row .addToWishlist:hover {
  background-color: #000;
  border-color: #000; }

.home_14 .products-list-in-row .addToWishlist:hover {
  background-color: #1ec7a6;
  border-color: #1ec7a6; }

.home_15 .products-list-in-row .addToWishlist:hover {
  background-color: #edb402;
  border-color: #edb402; }

.home_16 .products-list-in-row .addToWishlist:hover {
  background-color: #9d3bc6;
  border-color: #9d3bc6; }

.home_17 .products-list-in-row .addToWishlist:hover {
  background-color: #fed700;
  border-color: #fed700; }

.home_18 .products-list-in-row .addToWishlist:hover {
  background-color: #085a9d;
  border-color: #085a9d; }

.home_19 .products-list-in-row .addToWishlist:hover {
  background-color: #f15a2b;
  border-color: #f15a2b; }

.home_20 .products-list-in-row .addToWishlist:hover {
  background-color: #f15a2b;
  border-color: #f15a2b; }

.home_1 .scroll-box-arrows i:hover {
  background-color: #1ec7a6;
  border-color: #1ec7a6; }

.home_2 .scroll-box-arrows i:hover {
  background-color: #ed2b2b;
  border-color: #ed2b2b; }

.home_3 .scroll-box-arrows i:hover {
  background-color: #3700ff;
  border-color: #3700ff; }

.home_4 .scroll-box-arrows i:hover {
  background-color: #02a8f3;
  border-color: #02a8f3; }

.home_5 .scroll-box-arrows i:hover {
  background-color: #f56c57;
  border-color: #f56c57; }

.home_6 .scroll-box-arrows i:hover {
  background-color: #1ec7a6;
  border-color: #1ec7a6; }

.home_7 .scroll-box-arrows i:hover {
  background-color: #f28f00;
  border-color: #f28f00; }

.home_8 .scroll-box-arrows i:hover {
  background-color: #bf0b26;
  border-color: #bf0b26; }

.home_9 .scroll-box-arrows i:hover {
  background-color: #4bba5b;
  border-color: #4bba5b; }

.home_10 .scroll-box-arrows i:hover {
  background-color: #9cb130;
  border-color: #9cb130; }

.home_11 .scroll-box-arrows i:hover {
  background-color: #c09749;
  border-color: #c09749; }

.home_12 .scroll-box-arrows i:hover {
  background-color: #ff0000;
  border-color: #ff0000; }

.home_13 .scroll-box-arrows i:hover {
  background-color: #000;
  border-color: #000; }

.home_14 .scroll-box-arrows i:hover {
  background-color: #1ec7a6;
  border-color: #1ec7a6; }

.home_15 .scroll-box-arrows i:hover {
  background-color: #edb402;
  border-color: #edb402; }

.home_16 .scroll-box-arrows i:hover {
  background-color: #9d3bc6;
  border-color: #9d3bc6; }

.home_17 .scroll-box-arrows i:hover {
  background-color: #fed700;
  border-color: #fed700; }

.home_18 .scroll-box-arrows i:hover {
  background-color: #085a9d;
  border-color: #085a9d; }

.home_19 .scroll-box-arrows i:hover {
  background-color: #f15a2b;
  border-color: #f15a2b; }

.home_20 .scroll-box-arrows i:hover {
  background-color: #f15a2b;
  border-color: #f15a2b; }

.home_1 #more_info_block .tabs li a.active {
  border-bottom: 3px solid #1ec7a6 !important; }

.home_2 #more_info_block .tabs li a.active {
  border-bottom: 3px solid #ed2b2b !important; }

.home_3 #more_info_block .tabs li a.active {
  border-bottom: 3px solid #3700ff !important; }

.home_4 #more_info_block .tabs li a.active {
  border-bottom: 3px solid #02a8f3 !important; }

.home_5 #more_info_block .tabs li a.active {
  border-bottom: 3px solid #f56c57 !important; }

.home_6 #more_info_block .tabs li a.active {
  border-bottom: 3px solid #1ec7a6 !important; }

.home_7 #more_info_block .tabs li a.active {
  border-bottom: 3px solid #f28f00 !important; }

.home_8 #more_info_block .tabs li a.active {
  border-bottom: 3px solid #bf0b26 !important; }

.home_9 #more_info_block .tabs li a.active {
  border-bottom: 3px solid #4bba5b !important; }

.home_10 #more_info_block .tabs li a.active {
  border-bottom: 3px solid #9cb130 !important; }

.home_11 #more_info_block .tabs li a.active {
  border-bottom: 3px solid #c09749 !important; }

.home_12 #more_info_block .tabs li a.active {
  border-bottom: 3px solid #ff0000 !important; }

.home_13 #more_info_block .tabs li a.active {
  border-bottom: 3px solid #000 !important; }

.home_14 #more_info_block .tabs li a.active {
  border-bottom: 3px solid #1ec7a6 !important; }

.home_15 #more_info_block .tabs li a.active {
  border-bottom: 3px solid #edb402 !important; }

.home_16 #more_info_block .tabs li a.active {
  border-bottom: 3px solid #9d3bc6 !important; }

.home_17 #more_info_block .tabs li a.active {
  border-bottom: 3px solid #fed700 !important; }

.home_18 #more_info_block .tabs li a.active {
  border-bottom: 3px solid #085a9d !important; }

.home_19 #more_info_block .tabs li a.active {
  border-bottom: 3px solid #f15a2b !important; }

.home_20 #more_info_block .tabs li a.active {
  border-bottom: 3px solid #f15a2b !important; }

.home_1 .product-images > li.thumb-container > .thumb.selected,
.home_1 .product-images > li.thumb-container > .thumb:hover {
  border: 1px solid #1ec7a6; }

.home_2 .product-images > li.thumb-container > .thumb.selected,
.home_2 .product-images > li.thumb-container > .thumb:hover {
  border: 1px solid #ed2b2b; }

.home_3 .product-images > li.thumb-container > .thumb.selected,
.home_3 .product-images > li.thumb-container > .thumb:hover {
  border: 1px solid #3700ff; }

.home_4 .product-images > li.thumb-container > .thumb.selected,
.home_4 .product-images > li.thumb-container > .thumb:hover {
  border: 1px solid #02a8f3; }

.home_5 .product-images > li.thumb-container > .thumb.selected,
.home_5 .product-images > li.thumb-container > .thumb:hover {
  border: 1px solid #f56c57; }

.home_6 .product-images > li.thumb-container > .thumb.selected,
.home_6 .product-images > li.thumb-container > .thumb:hover {
  border: 1px solid #1ec7a6; }

.home_7 .product-images > li.thumb-container > .thumb.selected,
.home_7 .product-images > li.thumb-container > .thumb:hover {
  border: 1px solid #f28f00; }

.home_8 .product-images > li.thumb-container > .thumb.selected,
.home_8 .product-images > li.thumb-container > .thumb:hover {
  border: 1px solid #bf0b26; }

.home_9 .product-images > li.thumb-container > .thumb.selected,
.home_9 .product-images > li.thumb-container > .thumb:hover {
  border: 1px solid #4bba5b; }

.home_10 .product-images > li.thumb-container > .thumb.selected,
.home_10 .product-images > li.thumb-container > .thumb:hover {
  border: 1px solid #9cb130; }

.home_11 .product-images > li.thumb-container > .thumb.selected,
.home_11 .product-images > li.thumb-container > .thumb:hover {
  border: 1px solid #c09749; }

.home_12 .product-images > li.thumb-container > .thumb.selected,
.home_12 .product-images > li.thumb-container > .thumb:hover {
  border: 1px solid #ff0000; }

.home_13 .product-images > li.thumb-container > .thumb.selected,
.home_13 .product-images > li.thumb-container > .thumb:hover {
  border: 1px solid #000; }

.home_14 .product-images > li.thumb-container > .thumb.selected,
.home_14 .product-images > li.thumb-container > .thumb:hover {
  border: 1px solid #1ec7a6; }

.home_15 .product-images > li.thumb-container > .thumb.selected,
.home_15 .product-images > li.thumb-container > .thumb:hover {
  border: 1px solid #edb402; }

.home_16 .product-images > li.thumb-container > .thumb.selected,
.home_16 .product-images > li.thumb-container > .thumb:hover {
  border: 1px solid #9d3bc6; }

.home_17 .product-images > li.thumb-container > .thumb.selected,
.home_17 .product-images > li.thumb-container > .thumb:hover {
  border: 1px solid #fed700; }

.home_18 .product-images > li.thumb-container > .thumb.selected,
.home_18 .product-images > li.thumb-container > .thumb:hover {
  border: 1px solid #085a9d; }

.home_19 .product-images > li.thumb-container > .thumb.selected,
.home_19 .product-images > li.thumb-container > .thumb:hover {
  border: 1px solid #f15a2b; }

.home_20 .product-images > li.thumb-container > .thumb.selected,
.home_20 .product-images > li.thumb-container > .thumb:hover {
  border: 1px solid #f15a2b; }

.home_1 .product-variants-item.size input:checked + span::after {
  background: #1ec7a6; }

.home_2 .product-variants-item.size input:checked + span::after {
  background: #ed2b2b; }

.home_3 .product-variants-item.size input:checked + span::after {
  background: #3700ff; }

.home_4 .product-variants-item.size input:checked + span::after {
  background: #02a8f3; }

.home_5 .product-variants-item.size input:checked + span::after {
  background: #f56c57; }

.home_6 .product-variants-item.size input:checked + span::after {
  background: #1ec7a6; }

.home_7 .product-variants-item.size input:checked + span::after {
  background: #f28f00; }

.home_8 .product-variants-item.size input:checked + span::after {
  background: #bf0b26; }

.home_9 .product-variants-item.size input:checked + span::after {
  background: #4bba5b; }

.home_10 .product-variants-item.size input:checked + span::after {
  background: #9cb130; }

.home_11 .product-variants-item.size input:checked + span::after {
  background: #c09749; }

.home_12 .product-variants-item.size input:checked + span::after {
  background: #ff0000; }

.home_13 .product-variants-item.size input:checked + span::after {
  background: #000; }

.home_14 .product-variants-item.size input:checked + span::after {
  background: #1ec7a6; }

.home_15 .product-variants-item.size input:checked + span::after {
  background: #edb402; }

.home_16 .product-variants-item.size input:checked + span::after {
  background: #9d3bc6; }

.home_17 .product-variants-item.size input:checked + span::after {
  background: #fed700; }

.home_18 .product-variants-item.size input:checked + span::after {
  background: #085a9d; }

.home_19 .product-variants-item.size input:checked + span::after {
  background: #f15a2b; }

.home_20 .product-variants-item.size input:checked + span::after {
  background: #f15a2b; }

#content-wrapper {
  margin-bottom: 70px; }

.pagination .current a {
  background-color: #111 !important;
  color: #fff; }

.view-mode .button {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #e6e6e6;
  border-radius: 30px; }

.products-list-in-row .product-preview:hover {
  -webkit-box-shadow: unset;
  box-shadow: unset; }

.products-list-in-row .product-link {
  text-align: left;
  padding: 0; }

.products-list-in-row .content_price {
  text-align: left; }

.products-list-in-row .ajax-add-to-cart {
  border-radius: 30px !important;
  min-width: 180px;
  max-height: 45px;
  margin-top: 0 !important;
  bottom: 0 !important; }

.products-list-in-row .addToWishlist {
  margin-left: 18px; }
  .products-list-in-row .addToWishlist:hover {
    color: #fff !important; }

.products-list-in-row .product-info .color_to_pick_list {
  display: block; }

.products-list-in-row .product-preview .color_to_pick_list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 35px; }
  .products-list-in-row .product-preview .color_to_pick_list a {
    margin: 0;
    margin-right: 10px;
    border-radius: 50%; }
  .products-list-in-row .product-preview .color_to_pick_list .js-count.count {
    display: none; }
  .products-list-in-row .product-preview .color_to_pick_list > .variant-links {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 0; }

#off-canvas-menu #_desktop_user_info {
  padding: 0 30px; }
  #off-canvas-menu #_desktop_user_info ul li a {
    padding: 0;
    text-align: center; }
  #off-canvas-menu #_desktop_user_info .type2 {
    display: block;
    text-align: center; }
  #off-canvas-menu #_desktop_user_info .type1, #off-canvas-menu #_desktop_user_info .type3 {
    display: none; }

#off-canvas-menu .languages-info {
  padding: 0 30px;
  text-align: center; }
  #off-canvas-menu .languages-info > span {
    font-weight: 600; }
  #off-canvas-menu .languages-info ul {
    margin-top: 10px; }
    #off-canvas-menu .languages-info ul li a {
      padding: 0; }
  #off-canvas-menu .languages-info.type1, #off-canvas-menu .languages-info.type2, #off-canvas-menu .languages-info.type4 {
    display: none; }
  #off-canvas-menu .languages-info.type3 {
    display: block; }

#off-canvas-menu #_desktop_currency_selector {
  padding: 0 30px;
  text-align: center; }
  #off-canvas-menu #_desktop_currency_selector ul li a {
    text-align: center;
    padding: 0; }
  #off-canvas-menu #_desktop_currency_selector.type1, #off-canvas-menu #_desktop_currency_selector.type2 {
    display: none; }
  #off-canvas-menu #_desktop_currency_selector.type3 {
    display: block; }

.product-info .color_to_pick_list {
  display: none; }

#product #footer {
  margin-top: -186px; }

#category #header {
  position: relative;
  z-index: 2; }

#category #wrapper {
  position: relative;
  z-index: 1; }

#category .product-preview:hover .preview {
  border-radius: 0; }

#more_info_block + .featured-products .owl-stage-outer {
  padding-bottom: 150px; }

#more_info_block + .featured-products .product-link {
  min-height: auto;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

#more_info_block + .featured-products .customs-carousel-product {
  padding-top: 5px; }

#more_info_block + .featured-products .content_price {
  text-align: center; }

#more_info_block + .featured-products .owl-theme .owl-controls {
  top: -45px; }

#more_info_block + .featured-products h3 {
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 16px; }

.product_list.item-gutter-0 .products.row {
  margin: 0; }

.product_list.item-gutter-0 .product-info {
  background: #fff; }

.product_list.item-gutter-0 .product_action {
  width: 100%; }

.product_list.item-gutter-10 .products.row {
  margin: -5px; }

.product_list.item-gutter-10 .product-info {
  background: #fff; }

.product_list.item-gutter-10 .product_action {
  width: calc(100% - 10px); }

.product_list.item-gutter-20 .products.row {
  margin: -10px; }

.product_list.item-gutter-20 .product-info {
  background: #fff; }

.product_list.item-gutter-20 .product_action {
  width: calc(100% - 20px); }

.product_list.item-gutter-40 .products.row {
  margin: -20px; }

.product_list.item-gutter-40 .product-info {
  background: #fff; }

.product_list.item-gutter-40 .product_action {
  width: calc(100% - 40px); }

.product_list.item-gutter-60 .products.row {
  margin: -30px; }

.product_list.item-gutter-60 .product-info {
  background: #fff; }

.product_list.item-gutter-60 .product_action {
  width: calc(100% - 60px); }

#product .content_price, .quickview .content_price {
  text-align: left; }

#product .product-variants-item.size input + span, .quickview .product-variants-item.size input + span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 54px;
  min-height: 32px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 0; }
  #product .product-variants-item.size input + span::before, .quickview .product-variants-item.size input + span::before {
    content: "";
    position: absolute;
    width: 54px;
    height: 32px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 2px solid #e6e6e6;
    border-radius: 3px;
    z-index: -1; }

#product .product-variants-item.size input:checked + span, .quickview .product-variants-item.size input:checked + span {
  position: relative;
  color: #fff; }
  #product .product-variants-item.size input:checked + span::after, .quickview .product-variants-item.size input:checked + span::after {
    content: "";
    position: absolute;
    width: 53px;
    height: 32px;
    left: 50%;
    top: 50%;
    border-radius: 3px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1; }

.ver_mobile {
  display: none; }

@media (max-width: 481px) {
  #searchbox #selector_cat {
    max-width: 121px; }
  div.fraction-slider .prev, div.fraction-slider .next {
    width: 20px;
    height: 20px;
    font-size: 10px; }
  div.jms-advsearch .input-group-addon.input-group-search {
    padding: 0 15px; }
  .product_tab .jms-tab ul {
    display: block;
    margin-bottom: 25px;
    border-bottom: 0; }
    .product_tab .jms-tab ul li {
      text-align: center; }
  .product_tab .owl-theme .owl-controls {
    top: -15px;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  .cate_tab .addon-title h3 {
    float: none;
    width: 100%;
    text-align: center; }
  .cate_tab .addon-title .jms-tab {
    float: left;
    width: 100%;
    border-bottom: 0 !important; }
  .cate_tab .jms-tab ul {
    display: block;
    margin-bottom: 45px;
    border-bottom: 0; }
    .cate_tab .jms-tab ul li {
      text-align: center; }
  .cate_tab .owl-theme .owl-controls {
    top: -15px;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  .service .feature-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center !important;
    margin: 10px 0; }
  .footer_t div.layout-column {
    min-height: auto; }
  .footer_b .addon-box p {
    line-height: 2; }
    .footer_b .addon-box p img {
      margin: 5px 0; } }

@media (max-width: 991px) {
  .ver_mobile {
    display: block; }
  .ver_mobile .addon-box.open + .addon-box {
    opacity: 1;
    visibility: visible; }
  .ver_mobile .addon-box:last-child {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: 1000;
    width: calc(100% - 30px);
    background: #fff; } }

@media (max-width: 767px) {
  input#ajax_advsearch {
    width: 100%; } }

.quickview .images-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .quickview .images-container .product-images > li.thumb-container {
    display: block; }
  .quickview .images-container .product-cover {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  .quickview .images-container .js-qv-mask {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    width: 35%;
    max-height: 340px;
    overflow: hidden;
    margin-right: 0;
    margin-top: 50px; }

.quickview .content_price {
  text-align: left; }

.quickview .arrows.js-arrows i {
  position: unset; }
  .quickview .arrows.js-arrows i:hover {
    color: #000; }
  .quickview .arrows.js-arrows i.arrow-up {
    margin-top: 0; }
  .quickview .arrows.js-arrows i.arrow-down {
    position: absolute;
    bottom: 0;
    top: auto; }

.quickview .arrows {
  position: absolute;
  top: 0;
  bottom: 0;
  max-height: 441px;
  left: 43px;
  width: 0;
  z-index: 0; }
