.home_6 a:hover {
  color: #1ec7a6; }

.container {
  max-width: 1170px; }

.container-fluid {
  max-width: 100%;
  width: 100%; }

.btn-cart:hover {
  background: #1ec7a6;
  border-color: #1ec7a6; }

#jmstools .btn-action .btn:hover {
  background: #1ec7a6; }

.owl-theme .owl-controls div:hover {
  background-color: #1ec7a6 !important; }

.btn-default.active,
.btn-active {
  background: #1ec7a6; }

.jms-tab ul .nav-item.active a {
  color: #1ec7a6; }

.jms-tab ul .nav-item a.active {
  color: #1ec7a6; }

.product-preview .quick-view span {
  background: rgba(245, 108, 87, 0.3); }

.product-preview .quick-view:hover span {
  background: #f56c57; }

.product-preview .product_action button.cart-button:hover {
  background: #1ec7a6;
  border-color: #1ec7a6; }

.product-preview .addToWishlist.product-btn:hover {
  color: #1ec7a6; }

#header {
  background: #fff none repeat scroll 0 0;
  height: 100%;
  left: 0;
  position: fixed !important;
  width: 330px;
  z-index: 2001;
  top: 0;
  -webkit-box-shadow: 0 0 35px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.05); }
  #header .jms-megamenu .nav > li {
    padding: 0; }
    #header .jms-megamenu .nav > li > .dropdown-menu {
      top: 10px;
      left: calc(100% + 30px) !important;
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0); }
    #header .jms-megamenu .nav > li.open > .dropdown-menu {
      top: 0;
      left: calc(100% + 30px) !important;
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0); }
    #header .jms-megamenu .nav > li:not(:last-child) {
      display: block;
      border-bottom: 1px solid #f3f3f3; }
    #header .jms-megamenu .nav > li > a {
      line-height: 59px; }

.leftbar .container {
  padding: 0 30px; }

.leftbar .dropdown-menu {
  background: #fff;
  padding: 10px 0; }

.leftbar #cart_block .text-custom {
  display: none; }

.leftbar #cart_block .shoppingcart-box {
  top: 0;
  left: -330px;
  position: fixed;
  width: 330px;
  min-width: auto;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  height: 100%; }

.leftbar #cart_block.open .shoppingcart-box {
  left: 0; }

.leftbar #_desktop_user_info .dropdown-menu {
  top: calc(100% + 15px);
  left: -15px;
  display: block; }
  .leftbar #_desktop_user_info .dropdown-menu li {
    padding: 5px 0; }

.leftbar #_desktop_user_info .type2, .leftbar #_desktop_user_info .type3 {
  display: none; }

.leftbar #_desktop_user_info .type1 {
  display: block; }

.leftbar #_desktop_currency_selector {
  text-align: left; }
  .leftbar #_desktop_currency_selector.type1 {
    display: block; }
  .leftbar #_desktop_currency_selector.type2, .leftbar #_desktop_currency_selector.type3 {
    display: none; }

.leftbar #social_block ul {
  text-align: center; }
  .leftbar #social_block ul li a {
    font-size: 13px;
    color: #666;
    width: 35px;
    margin: 0 1.3px;
    height: 35px;
    background: #dfdfdf;
    border-radius: 50%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .leftbar #social_block ul li a:hover {
      color: #fff;
      background: #1ec7a6; }

.leftbar .button-search {
  color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 3px; }
  .leftbar .button-search:hover {
    color: #1ec7a6; }

.leftbar .storm-user {
  font-size: 23px; }

.leftbar .storm-heart {
  font-size: 27px; }

.leftbar .storm-shopping-bag {
  font-size: 27px; }

.leftbar .wishlist_top {
  padding: 0;
  display: inline-table; }

.leftbar .first {
  margin-bottom: 56px;
  margin-top: 66px; }
  .leftbar .first .addon-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

.leftbar .second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 40px; }
  .leftbar .second .search-box {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .leftbar .second .search-box #search_result {
      left: calc(50% - 2px);
      position: absolute;
      top: calc(30% + 59px);
      width: 399px;
      z-index: 1000;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
    .leftbar .second .search-box .close-search {
      font-size: 30px;
      color: #fff;
      position: absolute;
      top: 40px;
      right: 40px;
      cursor: pointer; }
    .leftbar .second .search-box.open {
      opacity: 1;
      visibility: visible;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      z-index: 999; }
    .leftbar .second .search-box .searchbox {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: absolute;
      top: 30%; }
      .leftbar .second .search-box .searchbox .button-search {
        height: 60px;
        color: #fff;
        background: #1ec7a6;
        padding: 0 20px;
        border-radius: 0 3px 3px 0;
        position: relative;
        left: -2px;
        z-index: 9; }
    .leftbar .second .search-box #ajax_search {
      height: 60px;
      border-radius: 3px;
      color: #fff; }
      .leftbar .second .search-box #ajax_search::-webkit-input-placeholder {
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 0; }
      .leftbar .second .search-box #ajax_search::-moz-placeholder {
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 0; }
  .leftbar .second .addon-box {
    margin: 0 10px;
    width: 30px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.leftbar .third {
  margin-bottom: 51px; }

.leftbar .fourth {
  margin-bottom: 41px; }
  .leftbar .fourth .dropdown-menu {
    position: unset;
    width: 100%;
    -webkit-box-shadow: unset;
    box-shadow: unset; }
    .leftbar .fourth .dropdown-menu li {
      padding: 5px 0; }
  .leftbar .fourth .addon-box {
    padding-bottom: 22px; }
  .leftbar .fourth p {
    margin-bottom: 0; }
  .leftbar .fourth #_desktop_currency_selector > a::after {
    content: "\f107";
    font-family: FontAwesome; }
  .leftbar .fourth #_desktop_currency_selector > a span {
    font-size: 13px; }
  .leftbar .fourth a {
    font-size: 13px;
    color: #333;
    text-transform: uppercase; }
    .leftbar .fourth a:hover {
      color: #1ec7a6; }
    .leftbar .fourth a span {
      font-size: 17px;
      margin-right: 5px; }

.leftbar .sixth {
  margin-top: 15px;
  text-align: center; }

#wrapper {
  margin-left: 330px; }

.slides .btn-shopnow {
  padding: 13px 33px; }

.slides .slide_1 .text-1, .slides .slide_2 .text-1, .slides .slide_3 .text-1 {
  font-weight: 600; }

.slides .slide_1 .text-2, .slides .slide_2 .text-2, .slides .slide_3 .text-2 {
  font-weight: 600;
  text-transform: uppercase; }

.slides .slide_1 .text-3, .slides .slide_2 .text-3, .slides .slide_3 .text-3 {
  font-weight: 700;
  text-transform: uppercase; }

.slides .slide_1 .text-4, .slides .slide_2 .text-4, .slides .slide_3 .text-4 {
  font-weight: 500;
  text-transform: uppercase; }

.slides .slide_3 .text-2 {
  max-width: 380px;
  letter-spacing: 1.2px;
  line-height: 0.85; }

.slides .slide_3 .text-3 {
  max-width: 380px;
  font-weight: 500; }
