.home_7 a:hover {
  color: #f28f00; }

.container {
  max-width: 1170px; }

.container-fluid {
  max-width: 100%;
  width: 100%; }

.btn-cart:hover {
  background: #f28f00;
  border-color: #f28f00; }

#jmstools .btn-action .btn:hover {
  background: #f28f00; }

.owl-theme .owl-controls div:hover {
  background-color: #f28f00 !important; }

.btn-default.active,
.btn-active {
  background: #f28f00; }

.jms-tab ul .nav-item.active a {
  color: #f28f00; }

.jms-tab ul .nav-item a.active {
  color: #f28f00; }

.product-preview .quick-view span {
  background: rgba(245, 108, 87, 0.3); }

.product-preview .quick-view:hover span {
  background: #f56c57; }

.product-preview .product_action button.cart-button:hover {
  background: #f28f00;
  border-color: #f28f00; }

.product-preview .addToWishlist.product-btn:hover {
  color: #f28f00; }

.page-index #header .slides {
  display: block; }

.page-index #wrapper {
  max-width: 1170px;
  margin: 0 auto; }

.page-index .page-home {
  margin: 0 -15px; }

.topbar {
  background: #f28f00;
  color: #fff;
  line-height: 43px; }
  .topbar .container > .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .topbar p {
    margin-bottom: 0;
    font-size: 13px; }
  .topbar .lnr-map-marker {
    font-size: 17px;
    position: relative;
    top: 2px;
    margin-right: 3px; }
  .topbar .dropdown-menu {
    background: #fff; }
    .topbar .dropdown-menu > li {
      padding: 0 20px; }
      .topbar .dropdown-menu > li > a {
        color: #333;
        padding: 3px 0; }
        .topbar .dropdown-menu > li > a:hover {
          color: #f28f00; }
  .topbar .left .addon-box {
    float: left;
    position: relative; }
    .topbar .left .addon-box:not(:first-child) {
      margin-left: 45px; }
      .topbar .left .addon-box:not(:first-child)::before {
        content: "";
        height: 13px;
        width: 1px;
        background: #5f33ff;
        position: absolute;
        left: -27px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
  .topbar .left .text {
    font-size: 13px; }
    .topbar .left .text i {
      font-size: 18px;
      position: relative;
      top: 3px;
      left: -4px; }
  .topbar .right #social_block ul {
    margin-bottom: 0; }
    .topbar .right #social_block ul li a {
      font-size: 16px;
      margin-left: 15px;
      color: rgba(255, 255, 255, 0.66); }
      .topbar .right #social_block ul li a:hover {
        color: white; }
  .topbar .right a {
    color: #fff;
    font-size: 13px;
    position: relative; }
  .topbar .right .languages-info .dropdown-menu {
    left: -20px; }
  .topbar .right .languages-info.type2 {
    display: block; }
    .topbar .right .languages-info.type2 .flag {
      position: relative;
      bottom: 1px;
      margin-right: 5px; }
  .topbar .right .languages-info.type1, .topbar .right .languages-info.type3, .topbar .right .languages-info.type4 {
    display: none; }
  .topbar .right .languages-info a.dropdown-toggle::after {
    content: "\f107";
    font-family: "FontAwesome";
    padding-left: 1px; }
  .topbar .right #_desktop_currency_selector .dropdown-menu {
    left: -20px; }
  .topbar .right #_desktop_currency_selector.type1 {
    display: block; }
  .topbar .right #_desktop_currency_selector.type2, .topbar .right #_desktop_currency_selector.type3 {
    display: none; }
  .topbar .right #_desktop_user_info {
    padding-left: 15px; }
    .topbar .right #_desktop_user_info a span {
      font-size: 13px;
      text-transform: capitalize; }
    .topbar .right #_desktop_user_info a.account::before {
      content: "\e915";
      font-family: Storm;
      font-size: 17px;
      position: absolute;
      left: -24px;
      top: -15px; }
    .topbar .right #_desktop_user_info a.account.btn-name::before {
      top: -3px; }
    .topbar .right #_desktop_user_info .type3 {
      display: block; }
    .topbar .right #_desktop_user_info .type1, .topbar .right #_desktop_user_info .type2 {
      display: none; }
  .topbar .right .addon-box {
    float: right;
    position: relative; }
    .topbar .right .addon-box:not(:first-child) {
      margin-right: 40px; }
      .topbar .right .addon-box:not(:first-child)::after {
        content: "";
        height: 100%;
        width: 1px;
        background: rgba(255, 255, 255, 0.3);
        position: absolute;
        right: -20px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
    .topbar .right .addon-box:not(:last-child) {
      padding-top: 0.5px; }

.header {
  padding: 24px 0 20px; }
  .header .container > .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header .center .jms-advsearch .input-group-addon.icon-drop-down::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #f2f2f2;
    z-index: -2; }
  .header .center .jms-advsearch .input-group.keyword-group {
    border-color: #f28f00; }
  .header .center .jms-advsearch .storm-zoom {
    background: #f28f00; }
  .header .center .jms-advsearch .input-group-addon.input-group-search {
    background: #f28f00; }
  .header .right .wishlist_top {
    display: block;
    width: 26px;
    height: 24px;
    padding: 0;
    z-index: 99; }
    .header .right .wishlist_top i {
      color: #333;
      font-size: 27px; }
      .header .right .wishlist_top i:hover {
        color: #f28f00; }
  .header .right .cart-icon {
    display: block;
    width: 28px;
    height: 30px;
    padding: 0;
    z-index: 99;
    position: relative; }
    .header .right .cart-icon i {
      color: #333;
      font-size: 27px; }
      .header .right .cart-icon i:hover {
        color: #f28f00; }
  .header .right .addon-box {
    float: right;
    height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .header .right .addon-box:not(:first-child) {
      margin-right: 29px; }
  .header .right #cart_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .header .right #cart_block #button_order_cart:hover {
      background: #f28f00; }
    .header .right #cart_block .ajax_cart_quantity {
      background: #f28f00 none repeat scroll 0 0;
      top: -3px;
      right: -12px; }
    .header .right #cart_block .text-custom {
      color: #333;
      padding-left: 12px;
      padding-top: 20px; }
      .header .right #cart_block .text-custom p {
        display: none; }
      .header .right #cart_block .text-custom span {
        font-size: 18px;
        font-weight: 500;
        position: relative;
        top: -7px; }
  .header .right .languages-info a {
    color: #000;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.7; }
    .header .right .languages-info a:hover {
      color: #f28f00; }
    .header .right .languages-info a.dropdown-item {
      font-size: 13px;
      color: #333;
      font-weight: 400; }
      .header .right .languages-info a.dropdown-item:hover {
        color: #f28f00; }
  .header .right .languages-info .dropdown-menu {
    left: -10px;
    background: #fff;
    top: calc(100% + 5px);
    padding: 10px 0;
    display: block; }
  .header .right .languages-info.type4 {
    display: block; }
    .header .right .languages-info.type4 .flag {
      position: relative;
      bottom: 1px;
      margin-right: 5px; }
  .header .right .languages-info.type1, .header .right .languages-info.type3, .header .right .languages-info.type2 {
    display: none; }
  .header .right .languages-info a.dropdown-toggle::after {
    content: "\f107";
    font-family: "FontAwesome";
    padding-left: 1px; }

.menu .container > .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.menu .right .addon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .menu .right .addon-box p {
    margin-bottom: 0; }
    .menu .right .addon-box p img {
      position: relative;
      top: 1px;
      left: 6px; }

.menu .right .text {
  padding-left: 17px; }
  .menu .right .text p {
    font-weight: 500;
    margin-bottom: 0; }
    .menu .right .text p:first-child {
      margin-bottom: -5px; }
    .menu .right .text p a {
      font-weight: 400; }
      .menu .right .text p a:hover {
        color: #f28f00; }

.menu #jms-vermegamenu-container {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); }

.menu .jms-vermegamenu {
  padding: 12px 0;
  -webkit-box-shadow: unset;
  box-shadow: unset;
  background: #fff; }
  .menu .jms-vermegamenu li > a:hover {
    color: #f28f00; }
  .menu .jms-vermegamenu .nav > li > a {
    padding: 4.55px 0; }
    .menu .jms-vermegamenu .nav > li > a:hover {
      color: #f28f00; }
    .menu .jms-vermegamenu .nav > li > a.open {
      color: #f28f00; }

.menu .jms-megamenu .nav {
  text-align: left; }
  .menu .jms-megamenu .nav > li {
    padding: 0 16px; }
    .menu .jms-megamenu .nav > li.home {
      padding-left: 0; }
    .menu .jms-megamenu .nav > li > a {
      line-height: 54px;
      font-size: 15px;
      color: #222; }
    .menu .jms-megamenu .nav > li.open > a {
      color: #f28f00; }

.menu .left .addon-box {
  position: relative; }
  .menu .left .addon-box.closed + .addon-box {
    opacity: 0;
    visibility: hidden; }
  .menu .left .addon-box:nth-child(2) {
    opacity: 1;
    visibility: visible;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    z-index: 1000; }

.menu .left #jms-vermegamenu-container {
  position: absolute;
  background: #fff;
  width: 100%;
  border-radius: 0 0 4px 4px; }
  .menu .left #jms-vermegamenu-container.in {
    z-index: 9999; }

.menu .ver_menu {
  font-size: 14px;
  font-weight: 600;
  background: #f28f00;
  text-transform: uppercase;
  color: #fff;
  padding: 16px 25px;
  margin-bottom: 0;
  cursor: pointer;
  border-radius: 5px 5px 0 0; }
  .menu .ver_menu::before {
    content: "\f0ca";
    font-family: FontAwesome;
    margin-right: 15px; }

.slides {
  display: none; }
  .slides .btn-shopnow {
    padding: 10px 33px; }
  .slides .slide_1 .text-1 {
    font-family: 'Dancing Script', cursive;
    font-weight: 700; }
  .slides .slide_1 .text-2, .slides .slide_1 .text-3 {
    font-weight: 600;
    text-transform: uppercase; }
    .slides .slide_1 .text-2 span, .slides .slide_1 .text-3 span {
      text-transform: lowercase;
      font-family: 'Dancing Script', cursive;
      font-size: 40px;
      font-weight: 400;
      color: #666; }
  .slides .slide_1 .text-2 {
    max-width: 435px;
    line-height: 0.9; }
  .slides .slide_2 .text-1 {
    font-family: 'Dancing Script', cursive;
    font-weight: 700; }
  .slides .slide_2 .text-2 {
    font-weight: 600;
    line-height: 0.9;
    max-width: 470px;
    text-transform: uppercase; }
    .slides .slide_2 .text-2 span {
      color: #f28f00; }
  .slides .slide_2 .text-4 {
    font-weight: 600;
    text-transform: uppercase; }
  .slides .slide_3 .text-1 {
    font-family: 'Dancing Script', cursive;
    font-weight: 700; }
  .slides .slide_3 .text-2 {
    font-weight: 600;
    line-height: 0.9;
    max-width: 470px;
    text-transform: uppercase; }
    .slides .slide_3 .text-2 span {
      color: #fff;
      font-style: italic; }
  .slides .slide_3 .btn-shopnow {
    background: #fff;
    color: #333; }

.left_column {
  padding: 0 15px;
  margin-top: 40px;
  width: 25%;
  float: left; }
  .left_column .container > .row {
    margin: 0; }
  .left_column .service {
    margin: 0;
    border: 2px solid #e6e6e6;
    border-radius: 5px; }
    .left_column .service .addon-box {
      padding: 30px 0; }
      .left_column .service .addon-box:not(:last-child) {
        border-bottom: 1px solid #e6e6e6; }
    .left_column .service .feature-img {
      margin-right: 15px;
      background: #f28f00;
      min-width: 44px;
      min-height: 53px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      border-radius: 3px;
      position: relative; }
      .left_column .service .feature-img::after {
        content: "";
        position: absolute;
        right: -6px;
        width: 0;
        height: 0;
        border-top: 6.5px solid transparent;
        border-left: 6px solid #f28f00;
        border-bottom: 6.5px solid transparent; }
      .left_column .service .feature-img i {
        color: #fff;
        font-size: 29px; }
    .left_column .service p {
      margin-bottom: 0; }
    .left_column .service .feature-box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .left_column .service .text-1 {
      font-size: 16px;
      font-weight: 500;
      color: #222;
      text-transform: uppercase;
      margin-bottom: -2px; }
    .left_column .service .text-2 {
      font-size: 13px;
      color: #666; }

.main_column {
  padding: 0 15px;
  margin-top: 40px;
  width: 75%;
  float: right; }
  .main_column .banner_1 .addon-box {
    width: 50%; }
    .main_column .banner_1 .addon-box:first-child {
      float: left; }
    .main_column .banner_1 .addon-box:last-child {
      float: right; }
