.container {
  max-width: 1170px; }

.container-fluid {
  max-width: 1800px;
  width: 100%; }

#jmstools .btn-action .btn:hover {
  background: #3700ff; }

.btn-default.active,
.btn-active {
  background: #3700ff; }

.topbar {
  background: #3700ff;
  color: #fff; }
  .topbar .container > .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .topbar p {
    margin-bottom: 0; }
  .topbar .left .addon-box {
    float: left; }
    .topbar .left .addon-box:not(:first-child) {
      margin-left: 30px; }
  .topbar .left .text span {
    display: none; }
  .topbar .right a {
    color: #fff; }
  .topbar .right #_desktop_user_info .type3 {
    display: block; }
  .topbar .right #_desktop_user_info .type1, .topbar .right #_desktop_user_info .type2 {
    display: none; }
  .topbar .right .addon-box {
    float: right;
    position: relative; }
    .topbar .right .addon-box:not(:first-child) {
      margin-right: 41px; }
