.topbar .left .addon-box {
	float: right;
}
.topbar .right .addon-box {
	float: left;
}
.topbar .right .addon-box:not(:first-child) {
	margin-left: 41px;
	margin-right: 0;
}
.topbar .right .addon-box:not(:first-child)::after {
	right: auto;
	left: -21px;
}
.header .right .addon-box {
	float: left;
}
.header .right #cart_block .text-custom {
	padding-right: 16px;
	padding-left: 0;
}
.header .right .addon-box:not(:first-child) {
	margin-left: 40px;
	margin-right: 0;
}
.women .left .content {
	float: left;
}
.men .right .content {
	float: right;
}
.banner_full .addon-box{
	float: left;
	text-align: left;
}
#footer .newsletter .block_content .addon-title {
	margin-left: 30px;
	margin-right: 0;
}
#footer .newsletter .form-group .newsletter-btn {
	border-radius: 4px 0px 0px 3px;
}
.footer_t .contact-info li {
	padding-right: 35px;
	padding-left: 0;
}
.footer_t .contact-info li.address {
	padding-left: 100px;
	padding-right: 35px;
}
.footer_t .contact-info li::before {
	left:auto;
	right: 0;
}
.footer_t #social_block ul li {
	margin-left: 7px;
	margin-right: 0;
}