#header {
	left: auto;
	right: 0;
}
.main-site {
	margin-right: 330px;
	margin-left: 0;
}
.leftbar .jms-megamenu .nav > li > a > .caret {
	left: 0;
	right: auto;
}
.leftbar .jms-megamenu .nav > li > a > .caret::after {
	content: '\f104';
	font-family: FontAwesome;
}
.leftbar #_desktop_currency_selector {
	text-align: right;
}
.newsletter .layout-column{
    float: left;
    text-align: right;
}
.newsletter #newsletter_block_left .addon-title span {
    padding-left: 50px;
    padding-right: 0;
}
.newsletter .form-group::before {
    right: 20px;
    left: auto;
}
.newsletter .newsletter-btn {
    border-radius: 4px 0 0 4px;
}
.newsletter #newsletter-input {
    padding-right: 44px;
    padding-left: 0;
}
.service .feature-img {
  margin-left: 15px;
  margin-right: 0;
}
.service .row .layout-column:not(:last-child) .feature-box::after {
    right: auto;
    left: -10px;
}
.service .feature-box i {
    margin-right: 0;
}
.service .feature-img::after {
  right: auto;
  left: -6px;
  border-right: 6px solid #3700ff;
  border-left: 0;
}